openapi: 3.1.0
info:
  title: Endpoints
  version: '1.0'
  description: |-
    Interact with the serverless Quick Start APIs.

    ## Prerequisites

    You will need a RunPod API key which can be generated under your user settings.
    This API key will identify you for billing purposes, so guard it well!

    You must retrieve your results via the status endpoint within 30 minutes.
    We do not keep your inputs or outputs longer than that to protect your privacy!


    ## Overview

    Our initial API implementation works asynchronously. This means you fire an API request to our endpoint with your input parameters and immediately get a response with a unique job ID. What do I do with this useless response, you say? You can then query the status endpoint and pass it your job ID. The status endpoint will give you the job results when completed.

    Let's take the Stable Diffusion v1 inference endpoint, for example.

    ### Start your job

    You would first make a request like the following (remember to replace the "xxxxxx"s with your real API key:

    ```curl
    curl -X POST https://api.runpod.ai/v2/stable-diffusion-v1/run \
        -H 'Content-Type: application/json'                             \
        -H 'Authorization: Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'    \
        -d '{"input": {"prompt": "a cute magical flying dog, fantasy art drawn by disney concept artists"}}'
    ```

    You would get an immediate response that looks like this:

    ```json
    {
      "id": "c80ffee4-f315-4e25-a146-0f3d98cf024b",
      "status": "IN_QUEUE"
    }
    ```

    In this example, your job ID would be "c80ffee4-f315-4e25-a146-0f3d98cf024b". You get a new one for each job, and it is a unique identifier for your job.

    ### Check the status of your job

    You haven't gotten any output, so you must make an additional call to the status endpoint after some time. Your status endpoint uses the job ID to route to the correct job status. In this case, the status endpoint is

    ```
    https://api.runpod.ai/v1/stable-diffusion-v1/status/c80ffee4-f315-4e25-a146-0f3d98cf024b
    ```

    Note how the last part of the URL is your job ID. You could request that endpoint like so. Remember to use your API key for this request too!

    ```curl
    curl https://api.runpod.ai/v2/stable-diffusion-v1/status/c80ffee4-f315-4e25-a146-0f3d98cf024b \
        -H 'Content-Type: application/json' \
        -H 'Authorization: Bearer xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'
    ```

    If your job hasn't been completed, you may get something that looks like this back:

    ```json
    {
      "delayTime": 2624,
      "id": "c80ffee4-f315-4e25-a146-0f3d98cf024b",
      "input": {
        "prompt": "a cute magical flying dog, fantasy art drawn by disney concept artists"
      },
      "status": "IN_PROGRESS"
    }
    ```

    This means to wait a bit longer before you query the status endpoint again.

    ## Get completed job status

    Eventually, you will get the final results of your job. They would look something like this:

    ```json
    {
      "delayTime": 123456, // (milliseconds) time in queue
      "executionTime": 1234, // (milliseconds) time it took to complete the job
      "gpu": "24", // gpu type used to run the job
      "id": "c80ffee4-f315-4e25-a146-0f3d98cf024b",
      "input": {
        "prompt": "a cute magical flying dog, fantasy art drawn by disney concept artists"
      },
      "output": [
        {
          "image": "https://job.results1",
          "seed": 1
        },
        {
          "image": "https://job.results2",
          "seed": 2
        }
      ],
      "status": "COMPLETED"
    }
    ```

    _**Note: You must retrieve your results via the status endpoint within 1 hour. We do not keep your inputs or outputs longer than that to protect your privacy!**_

    ### Get your stuff

    Note how you don't get the images directly in the output. The output contains the URLs to the cloud storage that will let you download each image.

    You've successfully generated your first images with our Stable Diffusion API!

    If you want descriptions for all parameters and code examples past curl, read on!

    ### Rate Limit

    `/run` - 1000 requests every 10s

    `/runsync` - 2000 requests every 10s

    ## Retrieve Result and Status

    When a request is made using the `/run` endpoint, or if a job takes longer than 30 seconds to complete when using the `/runsync` endpoint, a job ID will be returned. This job ID is essential for tracking the progress of a job and obtaining its results upon completion. To do so, use the `/status/{job_id}` endpoint described below.

    ### Check Job Status and Retrieve Results

    To check the status of a job or retrieve its results once completed, make a request to the `/status/{job_id}` endpoint, replacing `{job_id}` with the specific job ID received earlier.

    1. **Checking job status:** If the job is still in progress, the endpoint will return the current status of the job (e.g., "IN_QUEUE", "IN_PROGRESS", "FAILED", "COMPLETED", ).
    2. **Retrieving job results:** If the job has been completed successfully, the endpoint will return the results of the job.

    Please note that you should periodically poll the `/status/{job_id}` endpoint to monitor the progress of your job and retrieve the results once it has finished.


    Job results are kept for up to 30 minutes after a job is completed.

servers:
  - url: https://api.runpod.ai/v2/
components:
  securitySchemes:
    sec0:
      type: apiKey
      in: header
      name: authorization
      x-default: ''
security:
  - sec0: []
paths:
  /controlnet-canny/{run_type}:
    post:
      summary: Canny
      description: This page will help you get started with ControlNet - Canny.
      operationId: controlnet-canny
      parameters:
        - name: run_type
          in: path
          description: |
            Run type, run returns a job ID and runsync returns the results in
            the same call if completed within 30 seconds.
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    image_url:
                      type: string
                      description: |
                        The URL for a publicly accessible image to be used as
                        the input.
                    image_base_64:
                      type: string
                      description: An input image in the format of base64.
                    prompt:
                      type: string
                      description: |
                        The prompt to be used to generate an image from, using
                        the source image as a guide.
                    a_prompt:
                      type: string
                      description: Additional text to be appended to prompt.
                      default: best quality, extremely detailed
                    n_prompt:
                      type: string
                      description: |
                        Negative prompt, things that you want to avoid in the
                        output image.
                      default: |
                        longbody, lowres, bad anatomy, bad hands, missing
                        fingers, extra digit, fewer digits, cropped, worst
                        quality, low quality
                    num_samples:
                      type: integer
                      description: |
                        Number of samples (higher values may OOM). Options:
                        ['1', '4']
                      default: 1
                      format: int32
                    image_resolution:
                      type: integer
                      description: |
                        Image resolution to be generated. Options: ['256',
                        '512', '768']
                      default: 512
                      format: int32
                    ddim_steps:
                      type: integer
                      description: Steps
                      default: 20
                      format: int32
                    scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Options: 0.1 -> 30.0'
                      default: 9
                      format: float
                    seed:
                      type: integer
                      description: Seed for reproducibility.
                      default: null
                      format: int32
                    eta:
                      type: number
                      description: |
                        Controls the amount of noise that is added to the input
                        data during the denoising diffusion process. Higher
                        value -> more noise
                      default: 0
                      format: float
                    low_threshold:
                      type: integer
                      default: 100
                      format: int32
                    high_threshold:
                      type: integer
                      default: 200
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: The input parameters that can be used by ControlNet Canny.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {

                    "delayTime": 199231,

                    "executionTime": 10337,

                    "id": "73a50b0f-844c-4028-a2d2-946c8f0cf584",

                    "input": {

                    "image_url":
                    "https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg",

                    "prompt": "A frog performing yoga."

                    },

                    "output":
                    "https://14068d66ba387efac9ce5e4b1741bcf2.r2.cloudflarestorage.com/ai-api/03-23/73a50b0f-844c-4028-a2d2-946c8f0cf584/8f53aeef.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=16b502c87564788383d52ec498a61a24%2F20230320%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T193202Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=7a4df2e610b5556e48c5e300238e8d24e3e4d403770509232f747d9728e4dbf2",

                    "status": "COMPLETED"

                    }
              schema:
                type: object
                properties:
                  delayTime:
                    type: integer
                    example: 199231
                    default: 0
                  executionTime:
                    type: integer
                    example: 10337
                    default: 0
                  id:
                    type: string
                    example: 73a50b0f-844c-4028-a2d2-946c8f0cf584
                  input:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: |
                          https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg
                      prompt:
                        type: string
                        example: A frog performing yoga.
                  output:
                    type: string
                    example: |
                      https://14068d66ba387efac9ce5e4b1741bcf2.r2.cloudflarestorage.com/ai-api/03-23/73a50b0f-844c-4028-a2d2-946c8f0cf584/8f53aeef.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=16b502c87564788383d52ec498a61a24%2F20230320%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T193202Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=7a4df2e610b5556e48c5e300238e8d24e3e4d403770509232f747d9728e4dbf2
                  status:
                    type: string
                    example: COMPLETED
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /{endpoint_id}/status/{job_id}:
    post:
      summary: Retrieve Results & Status
      description: ''
      operationId: status
      parameters:
        - name: endpoint_id
          in: path
          description: The model name or endpoint id.
          schema:
            type: string
          required: true
        - name: job_id
          in: path
          description: The job id returned after your /run or /runsync request.
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /stable-diffusion-v1/{run_type}:
    post:
      summary: Stable Diffusion v1
      description: A text-to-image model from StabilityAI
      operationId: stable-diffusion-v1
      parameters:
        - name: run_type
          in: path
          description: |
            Run type, run returns a job ID and runsync returns the results in
            the same call if completed within 30 seconds.
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: Your input prompt.
                      default: building 8 stories
                    negative_prompt:
                      type: string
                      description: Specify things to not see in the output.
                    width:
                      type: integer
                      description: |
                        Width of output image. Options: 128, 256, 384, 448, 512,
                        576, 640, 704, 768
                      default: 512
                      format: int32
                    height:
                      type: integer
                      description: |
                        Height of output image. Options: 128, 256, 384, 448,
                        512, 576, 640, 704, 768
                      default: 512
                      format: int32
                    init_image:
                      type: string
                      description: |
                        URL for an initial image to generate variations of. Will
                        be resized to the specific width and height.
                    mask:
                      type: string
                      description: |
                        URL of a black and white image to use as a mask for
                        inpainting over init_image. Black pixels are inpainted
                        and white pixels are preserved.
                    guidance_scale:
                      type: number
                      description: Scale for classifier-free guidance. Rage 1 - 20
                      default: 7.5
                      format: float
                    num_inference_steps:
                      type: integer
                      description: The number of denoising steps. Range 1 - 500
                      default: 50
                      format: int32
                    num_outputs:
                      type: integer
                      description: The number of images to output. Range 1 - 10
                      default: 1
                      format: int32
                    prompt_strength:
                      type: number
                      description: |
                        How much importance is given to the prompt. Range: 0.0 -
                        1.0
                      default: 1
                      format: float
                    scheduler:
                      type: string
                      description: |
                        Choose a scheduler. Options: GGIM, DDPM, DPM-M, DPM-S,
                        EULER-A, EULER-D, HEUN, IPNDM, KDPM2-A, KDPM2-D, PNDM,
                        KLMS
                      default: KLMS
                    seed:
                      type: integer
                      description: Random seed.
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: Input object contains prompt, and more.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /stable-diffusion-v2/{run_type}:
    post:
      summary: Stable Diffusion v2
      description: A text-to-image model from StabilityAI
      operationId: stable-diffusion-v2
      parameters:
        - name: run_type
          in: path
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: Your input prompt.
                      default: building 8 stories
                    negative_prompt:
                      type: string
                      description: Specify things to not see in the output.
                    height:
                      type: integer
                      description: |
                        Height of output image. Options: 128, 256, 384, 448,
                        512, 576, 640, 704, 768
                      default: 512
                      format: int32
                    width:
                      type: integer
                      description: |
                        Width of output image. Options: 128, 256, 384, 448, 512,
                        576, 640, 704, 768
                      default: 512
                      format: int32
                    prompt_strength:
                      type: number
                      description: How much importance is given to the prompt.
                      format: float
                    num_outputs:
                      type: integer
                      description: The number of images to output. Range 1 - 10
                      default: 1
                      format: int32
                    num_inference_steps:
                      type: integer
                      description: 'The number of denoising steps. Range: 1- 500'
                      default: 50
                      format: int32
                    guidance_scale:
                      type: number
                      description: Scale for classifier-free guidance.
                      default: 7.5
                      format: float
                    scheduler:
                      type: string
                      description: |
                        Choose a scheduler. Options: DDIM, K_EULER,
                        DPMSolverMultistep, K_EULER_ANCESTRAL, PNDM, KLMS
                      default: KLMS
                    seed:
                      type: integer
                      description: Random seed.
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: Input Object contains prompt, and more.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /sd-anything-v3/{run_type}:
    post:
      summary: Anything v3 (SD-v1.5)
      description: ''
      operationId: anything-v3
      parameters:
        - name: run_type
          in: path
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: Your input prompt.
                      default: building 8 stories
                    negative_prompt:
                      type: string
                      description: Specify things to not see in the output.
                    width:
                      type: integer
                      description: |
                        Width of output image. Options: 128, 256, 384, 448, 512,
                        576, 640, 704, 768
                      default: 512
                      format: int32
                    height:
                      type: integer
                      description: |
                        Height of output image. Options: 128, 256, 384, 448,
                        512, 576, 640, 704, 768
                      default: 512
                      format: int32
                    init_image:
                      type: string
                      description: |
                        URL for an initial image to generate variations of. Will
                        be resized to the specific width and height.
                    mask:
                      type: string
                      description: |
                        URL of a black and white image to use as a mask for
                        inpainting over init_image. Black pixels are inpainted
                        and white pixels are preserved.
                    guidance_scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Range: 1-20'
                      default: 7.5
                      format: float
                    num_inference_steps:
                      type: integer
                      description: The number of denoising steps. Range 1-500
                      default: 50
                      format: int32
                    num_outputs:
                      type: integer
                      description: The number of images to output.
                      default: 1
                      format: int32
                    prompt_strength:
                      type: number
                      description: |
                        How much importance is given to the prompt. Range:
                        0.0-1.0
                      default: 0.8
                      format: float
                    scheduler:
                      type: string
                      description: 'Choose a scheduler. Options: DDIM, K-LMS, PNDM'
                      default: K-LMS
                    seed:
                      type: integer
                      description: Random seed.
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: Input Object contains prompt, and more.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /sd-anything-v4/{run_type}:
    post:
      summary: Anything v4 (SD-v1.5)
      description: ''
      operationId: anything-v4
      parameters:
        - name: Authorization
          in: header
          description: RunPod API Token
          required: true
          schema:
            type: string
        - name: run_type
          in: path
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: Your input prompt.
                      default: building 8 stories
                    negative_prompt:
                      type: string
                      description: Specify things to not see in the output.
                    width:
                      type: integer
                      description: |
                        Width of output image. Options: 128, 256, 384, 448, 512,
                        576, 640, 704, 768
                      default: 512
                      format: int32
                    height:
                      type: integer
                      description: |
                        Height of output image. Options: 128, 256, 384, 448,
                        512, 576, 640, 704, 768
                      default: 512
                      format: int32
                    init_image:
                      type: string
                      description: |
                        URL for an initial image to generate variations of. Will
                        be resized to the specific width and height.
                    mask:
                      type: string
                      description: |
                        URL of a black and white image to use as a mask for
                        inpainting over init_image. Black pixels are inpainted
                        and white pixels are preserved.
                    guidance_scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Range: 1-20'
                      default: 7.5
                      format: float
                    num_inference_steps:
                      type: integer
                      description: The number of denoising steps. Range 1-500
                      default: 50
                      format: int32
                    num_outputs:
                      type: integer
                      description: The number of images to output.
                      default: 1
                      format: int32
                    prompt_strength:
                      type: number
                      description: |
                        How much importance is given to the prompt. Range:
                        0.0-1.0
                      default: 0.8
                      format: float
                    scheduler:
                      type: string
                      description: 'Choose a scheduler. Options: DDIM, K-LMS, PNDM'
                      default: K-LMS
                    seed:
                      type: integer
                      description: Random seed.
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: Input Object contains prompt, and more.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /sd-openjourney/{run_type}:
    post:
      summary: Openjourney (SD-v1.5)
      description: ''
      operationId: openjourney-sd-v15
      parameters:
        - name: Authorization
          in: header
          description: RunPod API Token
          required: true
          schema:
            type: string
        - name: run_type
          in: path
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: Your input prompt.
                      default: building 8 stories
                    negative_prompt:
                      type: string
                      description: Specify things to not see in the output.
                    width:
                      type: integer
                      description: |
                        Width of output image. Options: 128, 256, 384, 448, 512,
                        576, 640, 704, 768
                      default: 512
                      format: int32
                    height:
                      type: integer
                      description: |
                        Height of output image. Options: 128, 256, 384, 448,
                        512, 576, 640, 704, 768
                      default: 512
                      format: int32
                    init_image:
                      type: string
                      description: |
                        URL for an initial image to generate variations of. Will
                        be resized to the specific width and height.
                    mask:
                      type: string
                      description: |
                        URL of a black and white image to use as a mask for
                        inpainting over init_image. Black pixels are inpainted
                        and white pixels are preserved.
                    guidance_scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Range: 1-20'
                      default: 7.5
                      format: float
                    num_inference_steps:
                      type: integer
                      description: The number of denoising steps. Range 1-500
                      default: 50
                      format: int32
                    num_outputs:
                      type: integer
                      description: The number of images to output.
                      default: 1
                      format: int32
                    prompt_strength:
                      type: number
                      description: |
                        How much importance is given to the prompt. Range:
                        0.0-1.0
                      default: 0.8
                      format: float
                    scheduler:
                      type: string
                      description: 'Choose a scheduler. Options: DDIM, K-LMS, PNDM'
                      default: K-LMS
                    seed:
                      type: integer
                      description: Random seed.
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: Input Object contains prompt, and more.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /dream-booth-v1/run:
    post:
      summary: DreamBooth (SD-v1.5)
      description: |
        DreamBooth is a deep learning generation model that fine-tunes existing
        text-to-image models such as Stable Diffusion.
      operationId: dreambooth-sd-v15
      parameters:
        - name: Authorization
          in: header
          description: RunPod API Token
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    train:
                      properties:
                        data_url:
                          type: string
                          description: |
                            A publicly accessible URL to your zip file
                            containing your data set images.
                        concept_name:
                          type: string
                          description: |
                            A unique name to train your concept with, this will
                            over-ride your file names using the following
                            scheme:  "concept (#).jpg"
                        offset_noise:
                          type: boolean
                          description: Enables offset noise for style training.
                          default: false
                        hf_model:
                          type: string
                          description: |
                            If the huggingface repo is private, your user access
                            token.
                        hf_token:
                          type: string
                          description: |
                            If the huggingface repo is private, your user access
                            token is required.
                        ckpt_link:
                          type: string
                          description: Publicly accessible link to a ckpt file.
                        text_steps:
                          type: integer
                          description: The number of steps used to train the text encoder.
                          default: 350
                          format: int32
                        text_seed:
                          type: integer
                          description: The seed used to train the text encoder.
                          default: 555
                          format: int32
                        text_batch_size:
                          type: integer
                          description: The seed used to train the text encoder.
                          default: 1
                          format: int32
                        text_resolution:
                          type: integer
                          description: The training resolution used for the text training.
                          default: 512
                          format: int32
                        text_learning_rate:
                          type: number
                          description: The learning rate for the  text encoder.
                          default: 0.000001
                          format: float
                        text_lr_scheduler:
                          type: string
                          description: |
                            The scheduler used when training the text encoder.
                            Options: linear, cosine, cosine_with_restarts,
                            polynomial, constant, constant_with_warmup
                          default: linear
                        text_8_bit_adam:
                          type: boolean
                          description: Enable 8-bit-adam
                          default: false
                        unet_seed:
                          type: integer
                          description: The seed used for training the UNet.
                          default: 555
                          format: int32
                        unet_batch_size:
                          type: integer
                          description: |
                            The number of images that are passed through in a
                            single training step.
                          default: 1
                          format: int32
                        unet_resolution:
                          type: integer
                          description: The resolution at which the UNet is trained.
                          default: 512
                          format: int32
                        unet_epochs:
                          type: integer
                          description: |
                            The number of epochs used when training the UNet,
                            the number of steps are extrapolated by multiplying
                            the number of input images by the epochs. For
                            example, if you choose 100 unet_epochs and have 6
                            input pictures, then your job will be 600 steps
                            total (6 x 100)
                          default: 150
                          format: int32
                        unet_learning_rate:
                          type: number
                          description: The learning rate when training the UNet.
                          default: 0.000002
                          format: float
                        unet_lr_scheduler:
                          type: string
                          description: |
                            The scheduler used when training the UNet ext
                            encoder. Options: linear, cosine,
                            cosine_with_restarts, polynomial, constant,
                            constant_with_warmup
                          default: linear
                        unet_8_bit_adam:
                          type: boolean
                          description: Enable 8-bit-adam for UNet.
                          default: false
                      required:
                        - data_url
                      type: object
                    inference:
                      type: array
                      description: A list of inference prompts to generate images from.
                      items:
                        properties:
                          enable_hr:
                            type: boolean
                            description: Toggle for hires fix.
                            default: false
                          denoising_strength:
                            type: integer
                            description: The amount of denoising applied to the image.
                            default: 0
                            format: int32
                          firstphase_width:
                            type: integer
                            format: int32
                          firstphase_height:
                            type: integer
                            format: int32
                          hr_scale:
                            type: integer
                            format: int32
                          hr_upscaler:
                            type: string
                          hr_second_pass_steps:
                            type: integer
                            format: int32
                          hr_resize_x:
                            type: integer
                            format: int32
                          hr_resize_y:
                            type: string
                          prompt:
                            type: string
                            description: |
                              The prompt that is used for the generation of the
                              image.
                          styles:
                            type: array
                            default: []
                            items:
                              type: string
                          seed:
                            type: integer
                            format: int32
                          subseed:
                            type: integer
                            format: int32
                          subseed_strength:
                            type: integer
                            format: int32
                          seed_resize_from_h:
                            type: integer
                            format: int32
                          seed_resized_from_w:
                            type: integer
                            format: int32
                          sampler_name:
                            type: string
                            default: Euler a
                            enum:
                              - Euler a
                              - Euler
                              - LMS
                              - Heun
                              - DPM2
                              - DPM2 a
                              - DPM++ 2S a
                              - DPM++ 2M
                              - DPM++ SDE
                              - DPM fast
                              - DPM adaptive
                              - DPM2 Karras
                              - DPM2 a Karras
                              - DPM++ 2S a Karras
                              - DPM++ 2M Karras
                              - DPM++ SDE Karras
                          batch_size:
                            type: integer
                            format: int32
                          n_iter:
                            type: integer
                            format: int32
                          steps:
                            type: integer
                            format: int32
                          cfg_scale:
                            type: integer
                            format: int32
                          width:
                            type: integer
                            format: int32
                          height:
                            type: integer
                            format: int32
                          restore_faces:
                            type: boolean
                          tiling:
                            type: boolean
                          negative_prompt:
                            type: string
                          eta:
                            type: integer
                            format: int32
                          s_churn:
                            type: integer
                            format: int32
                          s_tmax:
                            type: integer
                            format: int32
                          s_tmin:
                            type: integer
                            format: int32
                          s_noise:
                            type: string
                          sampler_index:
                            type: integer
                            format: int32
                          script_name:
                            type: string
                          passback:
                            type: string
                        type: object
                  required: []
                  type: object
                  description: |
                    Input object containing your training parameters, optional
                    inference parameters, optional S3 bucket, and optional
                    webhook.
                webhook:
                  type: string
                  description: |
                    URL endpoint to receive a webhook call on job complete,
                    fail, or timeout.
                s3Config:
                  properties:
                    bucketName:
                      type: string
                      description: Bucket where you would like the model to be stored.
                      default: job_id
                    accessId:
                      type: string
                      description: The ID required for your S3 bucket.
                    accessSecret:
                      type: string
                      description: The secret required for your S3 bucket.
                    endpointUrl:
                      type: string
                      description: The URL for your S3 bucket.
                  required:
                    - bucketName
                    - accessId
                    - accessSecret
                    - endpointUrl
                  type: object
                  description: |
                    Credentials for a user-defined S3 compatible bucket where
                    the trained model can be uploaded to.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /gpt-neo-1_3b/{run_type}:
    post:
      summary: GPT Neo 1.3B
      description: |
        GPT-Neo 1.3B is a transformer model designed using EleutherAI's
        replication of the GPT-3 architecture.
      operationId: neo-13b
      parameters:
        - name: run_type
          in: path
          description: |
            Decides whether to run this asynchronously or synchronously. If you
            use "run", then it will be run async and you must use the "Receive
            Output/Status" endpoint with the run id to get your result.
          schema:
            type: string
            enum:
              - runsync
              - run
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: |
                        The start of the prompt text that the model will infer
                        from.
                      default: |
                        Why, sometimes I've believed as many as six impossible
                        things
                    do_sample:
                      type: boolean
                      description: |
                        Enables decoding strategies such as multinomial
                        sampling, beam-search multinomial sampling, Top-K
                        sampling and Top-p sampling. All these strategies select
                        the next token from the probability distribution over
                        the entire vocabulary with various strategy-specific
                        adjustments.
                      default: false
                    max_length:
                      type: integer
                      description: The number of tokens to generate in one output.
                      default: 100
                      format: int32
                    temperature:
                      type: number
                      description: How closely should the output match the prompt.
                      default: 0.9
                      format: float
                  required:
                    - prompt
                  type: object
                  description: Inputs to be generated.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                runsync:
                  value: |
                    {

                    "delayTime": 8,

                    "executionTime": 4572,

                    "id": "sync-9c573aaa-f3ef-46d2-879c-44262c8876ca",

                    "output": "Why, sometimes I've believed as many as six
                    impossible things before breakfast.\" \"I don't know why I'm
                    telling you all this.\" \"I just do.\" \"I'm not a very good
                    liar.\" \"I'm not a very good anything.\" \"I'm not a very
                    good anything.\" \"I'm not a very good anything.\" \"I'm not
                    a very good anything.\" \"I'm not a very good anything.\"
                    \"I'm not a very good anything.\" \"I'm not",

                    "status": "COMPLETED"

                    }
                run:
                  value: |-
                    {
                    "id": "9c6ed893-fda5-4ea6-9e0a-82af9a82403c",
                    "status": "IN_QUEUE"
                    }
              schema:
                oneOf:
                  - title: runsync
                    type: object
                    properties:
                      delayTime:
                        type: integer
                        example: 8
                        default: 0
                      executionTime:
                        type: integer
                        example: 4572
                        default: 0
                      id:
                        type: string
                        example: sync-9c573aaa-f3ef-46d2-879c-44262c8876ca
                      output:
                        type: string
                        example: |
                          Why, sometimes I've believed as many as six impossible
                          things before breakfast." "I don't know why I'm
                          telling you all this." "I just do." "I'm not a very
                          good liar." "I'm not a very good anything." "I'm not a
                          very good anything." "I'm not a very good anything."
                          "I'm not a very good anything." "I'm not a very good
                          anything." "I'm not a very good anything." "I'm not
                      status:
                        type: string
                        example: COMPLETED
                  - title: run
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9c6ed893-fda5-4ea6-9e0a-82af9a82403c
                      status:
                        type: string
                        example: IN_QUEUE
      deprecated: false
  /gpt-neox-20b/{method}:
    post:
      summary: GPT NeoX 20B
      description: ''
      operationId: neox-20b
      parameters:
        - name: method
          in: path
          description: |
            Decides whether to run this asynchronously or synchronously. If you
            use "run", then it will be run async and you must use the "Receive
            Output/Status" endpoint with the run id to get your result.
          schema:
            type: string
            enum:
              - runsync
              - sync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: |
                        The start of the prompt text that the model will infer
                        from.
                      default: |
                        Why, sometimes I've believed as many as six impossible
                        things
                    do_sample:
                      type: boolean
                      description: |
                        Enables decoding strategies such as multinomial
                        sampling, beam-search multinomial sampling, Top-K
                        sampling and Top-p sampling. All these strategies select
                        the next token from the probability distribution over
                        the entire vocabulary with various strategy-specific
                        adjustments.
                      default: false
                    max_length:
                      type: integer
                      description: The number of tokens to generate in one output.
                      default: 100
                      format: int32
                    temperature:
                      type: number
                      description: How closely should the output match the prompt.
                      default: 0.9
                      format: float
                  required:
                    - prompt
                  type: object
                  description: Inputs to be generated.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                runsync:
                  value: |
                    {

                    "delayTime": 8,

                    "executionTime": 4572,

                    "id": "sync-9c573aaa-f3ef-46d2-879c-44262c8876ca",

                    "output": "Why, sometimes I've believed as many as six
                    impossible things before breakfast.\" \"I don't know why I'm
                    telling you all this.\" \"I just do.\" \"I'm not a very good
                    liar.\" \"I'm not a very good anything.\" \"I'm not a very
                    good anything.\" \"I'm not a very good anything.\" \"I'm not
                    a very good anything.\" \"I'm not a very good anything.\"
                    \"I'm not a very good anything.\" \"I'm not",

                    "status": "COMPLETED"

                    }
                run:
                  value: |-
                    {
                    "id": "9c6ed893-fda5-4ea6-9e0a-82af9a82403c",
                    "status": "IN_QUEUE"
                    }
              schema:
                oneOf:
                  - title: runsync
                    type: object
                    properties:
                      delayTime:
                        type: integer
                        example: 8
                        default: 0
                      executionTime:
                        type: integer
                        example: 4572
                        default: 0
                      id:
                        type: string
                        example: sync-9c573aaa-f3ef-46d2-879c-44262c8876ca
                      output:
                        type: string
                        example: |
                          Why, sometimes I've believed as many as six impossible
                          things before breakfast." "I don't know why I'm
                          telling you all this." "I just do." "I'm not a very
                          good liar." "I'm not a very good anything." "I'm not a
                          very good anything." "I'm not a very good anything."
                          "I'm not a very good anything." "I'm not a very good
                          anything." "I'm not a very good anything." "I'm not
                      status:
                        type: string
                        example: COMPLETED
                  - title: run
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9c6ed893-fda5-4ea6-9e0a-82af9a82403c
                      status:
                        type: string
                        example: IN_QUEUE
      deprecated: false
  /pygmalion-6b/{run_type}:
    post:
      summary: Pygmalion 6B
      description: ''
      operationId: pygmalion-6b
      parameters:
        - name: run_type
          in: path
          description: |
            Decides whether to run this asynchronously or synchronously. If you
            use "run", then it will be run async and you must use the "Receive
            Output/Status" endpoint with the run id to get your result.
          schema:
            type: string
            enum:
              - runsync
              - run
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: |
                        The start of the prompt text that the model will infer
                        from.
                      default: |
                        Why, sometimes I've believed as many as six impossible
                        things
                    do_sample:
                      type: boolean
                      description: |
                        Enables decoding strategies such as multinomial
                        sampling, beam-search multinomial sampling, Top-K
                        sampling and Top-p sampling. All these strategies select
                        the next token from the probability distribution over
                        the entire vocabulary with various strategy-specific
                        adjustments.
                      default: false
                    max_length:
                      type: integer
                      description: The number of tokens to generate in one output.
                      default: 100
                      format: int32
                    temperature:
                      type: number
                      description: How closely should the output match the prompt.
                      default: 0.9
                      format: float
                  required:
                    - prompt
                  type: object
                  description: Inputs to be generated.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                runsync:
                  value: |
                    {

                    "delayTime": 8,

                    "executionTime": 4572,

                    "id": "sync-9c573aaa-f3ef-46d2-879c-44262c8876ca",

                    "output": "Why, sometimes I've believed as many as six
                    impossible things before breakfast.\" \"I don't know why I'm
                    telling you all this.\" \"I just do.\" \"I'm not a very good
                    liar.\" \"I'm not a very good anything.\" \"I'm not a very
                    good anything.\" \"I'm not a very good anything.\" \"I'm not
                    a very good anything.\" \"I'm not a very good anything.\"
                    \"I'm not a very good anything.\" \"I'm not",

                    "status": "COMPLETED"

                    }
                run:
                  value: |-
                    {
                    "id": "9c6ed893-fda5-4ea6-9e0a-82af9a82403c",
                    "status": "IN_QUEUE"
                    }
              schema:
                oneOf:
                  - title: runsync
                    type: object
                    properties:
                      delayTime:
                        type: integer
                        example: 8
                        default: 0
                      executionTime:
                        type: integer
                        example: 4572
                        default: 0
                      id:
                        type: string
                        example: sync-9c573aaa-f3ef-46d2-879c-44262c8876ca
                      output:
                        type: string
                        example: |
                          Why, sometimes I've believed as many as six impossible
                          things before breakfast." "I don't know why I'm
                          telling you all this." "I just do." "I'm not a very
                          good liar." "I'm not a very good anything." "I'm not a
                          very good anything." "I'm not a very good anything."
                          "I'm not a very good anything." "I'm not a very good
                          anything." "I'm not a very good anything." "I'm not
                      status:
                        type: string
                        example: COMPLETED
                  - title: run
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9c6ed893-fda5-4ea6-9e0a-82af9a82403c
                      status:
                        type: string
                        example: IN_QUEUE
      deprecated: false
  /gpt-neo-2_7b/{run_type}:
    post:
      summary: GPT Neo 2.7B
      description: ''
      operationId: neo-27b
      parameters:
        - name: run_type
          in: path
          description: |
            Decides whether to run this asynchronously or synchronously. If you
            use "run", then it will be run async and you must use the "Receive
            Output/Status" endpoint with the run id to get your result.
          schema:
            type: string
            enum:
              - runsync
              - run
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: |
                        The start of the prompt text that the model will infer
                        from.
                      default: |
                        Why, sometimes I've believed as many as six impossible
                        things
                    do_sample:
                      type: boolean
                      description: |
                        Enables decoding strategies such as multinomial
                        sampling, beam-search multinomial sampling, Top-K
                        sampling and Top-p sampling. All these strategies select
                        the next token from the probability distribution over
                        the entire vocabulary with various strategy-specific
                        adjustments.
                      default: false
                    max_length:
                      type: integer
                      description: The number of tokens to generate in one output.
                      default: 100
                      format: int32
                    temperature:
                      type: number
                      description: How closely should the output match the prompt.
                      default: 0.9
                      format: float
                  required:
                    - prompt
                  type: object
                  description: Inputs to be generated.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                runsync:
                  value: |
                    {

                    "delayTime": 8,

                    "executionTime": 4572,

                    "id": "sync-9c573aaa-f3ef-46d2-879c-44262c8876ca",

                    "output": "Why, sometimes I've believed as many as six
                    impossible things before breakfast.\" \"I don't know why I'm
                    telling you all this.\" \"I just do.\" \"I'm not a very good
                    liar.\" \"I'm not a very good anything.\" \"I'm not a very
                    good anything.\" \"I'm not a very good anything.\" \"I'm not
                    a very good anything.\" \"I'm not a very good anything.\"
                    \"I'm not a very good anything.\" \"I'm not",

                    "status": "COMPLETED"

                    }
                run:
                  value: |-
                    {
                    "id": "9c6ed893-fda5-4ea6-9e0a-82af9a82403c",
                    "status": "IN_QUEUE"
                    }
              schema:
                oneOf:
                  - title: runsync
                    type: object
                    properties:
                      delayTime:
                        type: integer
                        example: 8
                        default: 0
                      executionTime:
                        type: integer
                        example: 4572
                        default: 0
                      id:
                        type: string
                        example: sync-9c573aaa-f3ef-46d2-879c-44262c8876ca
                      output:
                        type: string
                        example: |
                          Why, sometimes I've believed as many as six impossible
                          things before breakfast." "I don't know why I'm
                          telling you all this." "I just do." "I'm not a very
                          good liar." "I'm not a very good anything." "I'm not a
                          very good anything." "I'm not a very good anything."
                          "I'm not a very good anything." "I'm not a very good
                          anything." "I'm not a very good anything." "I'm not
                      status:
                        type: string
                        example: COMPLETED
                  - title: run
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9c6ed893-fda5-4ea6-9e0a-82af9a82403c
                      status:
                        type: string
                        example: IN_QUEUE
      deprecated: false
  /{MODEL_ID}/status/{RUN_ID}:
    get:
      summary: Receive Output/Status
      description: ''
      operationId: receive-outputstatus
      parameters:
        - name: MODEL_ID
          in: path
          schema:
            type: string
            enum:
              - gpt-neo-1_3b
              - gpt-neo-2_7b
              - gpt-neox-20b
              - pygmalion-6b
          required: true
        - name: RUN_ID
          in: path
          schema:
            type: string
          required: true
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /gpt-j-6b/{method}:
    post:
      summary: GPT-J 6B
      description: ''
      operationId: gpt-j-6b
      parameters:
        - name: method
          in: path
          description: |
            Decides whether to run this asynchronously or synchronously. If you
            use "run", then it will be run async and you must use the "Receive
            Output/Status" endpoint with the run id to get your result.
          schema:
            type: string
            enum:
              - runsync
              - run
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    prompt:
                      type: string
                      description: |
                        The start of the prompt text that the model will infer
                        from.
                      default: |
                        Why, sometimes I've believed as many as six impossible
                        things
                    do_sample:
                      type: boolean
                      description: |
                        Enables decoding strategies such as multinomial
                        sampling, beam-search multinomial sampling, Top-K
                        sampling and Top-p sampling. All these strategies select
                        the next token from the probability distribution over
                        the entire vocabulary with various strategy-specific
                        adjustments.
                      default: false
                    max_length:
                      type: integer
                      description: The number of tokens to generate in one output.
                      default: 100
                      format: int32
                    temperature:
                      type: number
                      description: How closely should the output match the prompt.
                      default: 0.9
                      format: float
                  required:
                    - prompt
                  type: object
                  description: Inputs to be generated.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                runsync:
                  value: |
                    {

                    "delayTime": 8,

                    "executionTime": 4572,

                    "id": "sync-9c573aaa-f3ef-46d2-879c-44262c8876ca",

                    "output": "Why, sometimes I've believed as many as six
                    impossible things before breakfast.\" \"I don't know why I'm
                    telling you all this.\" \"I just do.\" \"I'm not a very good
                    liar.\" \"I'm not a very good anything.\" \"I'm not a very
                    good anything.\" \"I'm not a very good anything.\" \"I'm not
                    a very good anything.\" \"I'm not a very good anything.\"
                    \"I'm not a very good anything.\" \"I'm not",

                    "status": "COMPLETED"

                    }
                run:
                  value: |-
                    {
                    "id": "9c6ed893-fda5-4ea6-9e0a-82af9a82403c",
                    "status": "IN_QUEUE"
                    }
              schema:
                oneOf:
                  - title: runsync
                    type: object
                    properties:
                      delayTime:
                        type: integer
                        example: 8
                        default: 0
                      executionTime:
                        type: integer
                        example: 4572
                        default: 0
                      id:
                        type: string
                        example: sync-9c573aaa-f3ef-46d2-879c-44262c8876ca
                      output:
                        type: string
                        example: |
                          Why, sometimes I've believed as many as six impossible
                          things before breakfast." "I don't know why I'm
                          telling you all this." "I just do." "I'm not a very
                          good liar." "I'm not a very good anything." "I'm not a
                          very good anything." "I'm not a very good anything."
                          "I'm not a very good anything." "I'm not a very good
                          anything." "I'm not a very good anything." "I'm not
                      status:
                        type: string
                        example: COMPLETED
                  - title: run
                    type: object
                    properties:
                      id:
                        type: string
                        example: 9c6ed893-fda5-4ea6-9e0a-82af9a82403c
                      status:
                        type: string
                        example: IN_QUEUE
      deprecated: false
  /everydream-v1/run:
    post:
      summary: EveryDream (SD-v1.5)
      description: |
        EveryDream provides general fine-tuning for Stable Diffusion. This
        endpoint also provides inference so that models can be trained and
        images can be generated in one shot.
      operationId: everydream-sd-v15
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /whisper/{run_type}:
    post:
      summary: Whisper
      description: Whisper is an automatic speech recognition (ASR) system.
      operationId: whisper
      parameters:
        - name: run_type
          in: path
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    audio:
                      type: string
                      description: The URL of the input audio file.
                      default: |
                        https://github.com/runpod-workers/sample-inputs/raw/main/audio/gettysburg.wav
                    model:
                      type: string
                      description: |
                        Choose a Whisper model. Options: tiny, base, small,
                        medium, large-v1, large-v2
                      default: base
                    transcription:
                      type: string
                      description: |
                        Choose the format for the transcription. Options: plain
                        text, srt, vtt
                      default: plain text
                    translate:
                      type: boolean
                      description: Translate the text to English when set to True.
                      default: false
                    language:
                      type: string
                      description: |
                        Language spoken in the audio, specify None to perform
                        language detection.
                      default: en
                    temperature:
                      type: number
                      description: Temperature to use for sampling.
                      default: 0
                      format: float
                    best_of:
                      type: integer
                      description: |
                        The number of candidates when sampling with non-zero
                        temperature.
                      default: 5
                      format: int32
                    beam_size:
                      type: integer
                      description: |
                        Number of beams in beam search, only applicable when
                        temperature is zero.
                      default: 5
                      format: int32
                    patience:
                      type: number
                      description: Optional patience value to use in beam decoding.
                      default: 1
                      format: float
                    suppress_tokens:
                      type: string
                      description: |
                        Comma-separated list of token ids to suppress during
                        sampling; '-1' will suppress most special characters
                        except common punctuations.
                      default: '-1'
                    length_penalty:
                      type: number
                      description: |
                        Optional token length penalty coefficient (alpha). Uses
                        simple length normalization by default.
                      format: float
                    initial_prompt:
                      type: string
                      description: |
                        Optional text to provide as a prompt for the first
                        window.
                      default: None
                    condition_on_previous_text:
                      type: boolean
                      description: |
                        If True, provide the previous output of the model as a
                        prompt for the next window; disabling may make the text
                        inconsistent across windows, but the model becomes less
                        prone to getting stuck in a failure loop.
                      default: false
                    temperature_increment_on_fallback:
                      type: number
                      description: |
                        Temperature to increase when falling back when the
                        decoding fails to meet either of the thresholds below.
                      default: 0.2
                      format: float
                    compression_ratio_threshold:
                      type: number
                      description: |
                        If the gzip compression ration is higher than this
                        value, treat the decoding as failed.
                      default: 2.4
                      format: float
                    logprob_threshold:
                      type: number
                      description: |
                        If the average log probability is lower than this value,
                        treat the decoding as failed.
                      default: -1
                      format: float
                    no_speech_threshold:
                      type: number
                      description: |
                        If the probability of the <|nospeech|> token is higher
                        than this value AND the decoding has failed due to
                        'logprob_threshold', consider the segment as silence.
                      default: 0.6
                      format: float
                  required:
                    - audio
                  type: object
                  description: Input that contains prompts and more.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |-
                    {
                    "id": "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
                    "status": "IN_QUEUE"
                    }
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx
                  status:
                    type: string
                    example: IN_QUEUE
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
        '401':
          description: '401'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
        '429':
          description: '429'
          content:
            text/plain:
              examples:
                Result:
                  value: ''
      deprecated: false
  /controlnet-depth/{run_type}:
    post:
      summary: Depth
      description: This page will help you get started with ControlNet - Depth.
      operationId: depth
      parameters:
        - name: run_type
          in: path
          description: |
            Run type, run returns a job ID and runsync returns the results in
            the same call if completed within 30 seconds.
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    image_url:
                      type: string
                      description: |
                        The URL for a publicly accessible image to be used as
                        the input.
                    image_base_64:
                      type: string
                      description: An input image in the format of base64.
                    prompt:
                      type: string
                      description: |
                        The prompt to be used to generate an image from, using
                        the source image as a guide.
                    a_prompt:
                      type: string
                      description: Additional text to be appended to prompt.
                      default: best quality, extremely detailed
                    n_prompt:
                      type: string
                      description: |
                        Negative prompt, things that you want to avoid in the
                        output image.
                      default: |
                        longbody, lowres, bad anatomy, bad hands, missing
                        fingers, extra digit, fewer digits, cropped, worst
                        quality, low quality
                    num_samples:
                      type: integer
                      description: |
                        Number of samples (higher values may OOM). Options:
                        ['1', '4']
                      default: 1
                      format: int32
                    image_resolution:
                      type: integer
                      description: |
                        Image resolution to be generated. Options: ['256',
                        '512', '768']
                      default: 512
                      format: int32
                    ddim_steps:
                      type: integer
                      description: Steps
                      default: 20
                      format: int32
                    scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Options: 0.1 -> 30.0'
                      default: 9
                      format: float
                    seed:
                      type: integer
                      description: Seed for reproducibility.
                      default: null
                      format: int32
                    eta:
                      type: number
                      description: |
                        Controls the amount of noise that is added to the input
                        data during the denoising diffusion process. Higher
                        value -> more noise
                      default: 0
                      format: float
                    low_threshold:
                      type: integer
                      default: 100
                      format: int32
                    high_threshold:
                      type: integer
                      default: 200
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: The input parameters that can be used by ControlNet Canny.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {

                    "delayTime": 199231,

                    "executionTime": 10337,

                    "id": "73a50b0f-844c-4028-a2d2-946c8f0cf584",

                    "input": {

                    "image_url":
                    "https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg",

                    "prompt": "A frog performing yoga."

                    },

                    "output":
                    "https://14068d66ba387efac9ce5e4b1741bcf2.r2.cloudflarestorage.com/ai-api/03-23/73a50b0f-844c-4028-a2d2-946c8f0cf584/8f53aeef.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=16b502c87564788383d52ec498a61a24%2F20230320%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T193202Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=7a4df2e610b5556e48c5e300238e8d24e3e4d403770509232f747d9728e4dbf2",

                    "status": "COMPLETED"

                    }
              schema:
                type: object
                properties:
                  delayTime:
                    type: integer
                    example: 199231
                    default: 0
                  executionTime:
                    type: integer
                    example: 10337
                    default: 0
                  id:
                    type: string
                    example: 73a50b0f-844c-4028-a2d2-946c8f0cf584
                  input:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: |
                          https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg
                      prompt:
                        type: string
                        example: A frog performing yoga.
                  output:
                    type: string
                    example: |
                      https://14068d66ba387efac9ce5e4b1741bcf2.r2.cloudflarestorage.com/ai-api/03-23/73a50b0f-844c-4028-a2d2-946c8f0cf584/8f53aeef.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=16b502c87564788383d52ec498a61a24%2F20230320%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T193202Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=7a4df2e610b5556e48c5e300238e8d24e3e4d403770509232f747d9728e4dbf2
                  status:
                    type: string
                    example: COMPLETED
        '400':
          description: '400'
          content:
            application/json:
              examples:
                Result:
                  value: '{}'
              schema:
                type: object
                properties: {}
      deprecated: false
  /controlnet-hed/{run_type}:
    post:
      summary: Hed
      description: This page will help you get started with ControlNet - Hed.
      operationId: hed
      parameters:
        - name: run_type
          in: path
          description: |
            Run type, run returns a job ID and runsync returns the results in
            the same call if completed within 30 seconds.
          schema:
            type: string
            enum:
              - run
              - runsync
            default: runsync
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                input:
                  properties:
                    image_url:
                      type: string
                      description: |
                        The URL for a publicly accessible image to be used as
                        the input.
                    image_base_64:
                      type: string
                      description: An input image in the format of base64.
                    prompt:
                      type: string
                      description: |
                        The prompt to be used to generate an image from, using
                        the source image as a guide.
                    a_prompt:
                      type: string
                      description: Additional text to be appended to prompt.
                      default: best quality, extremely detailed
                    n_prompt:
                      type: string
                      description: |
                        Negative prompt, things that you want to avoid in the
                        output image.
                      default: |
                        longbody, lowres, bad anatomy, bad hands, missing
                        fingers, extra digit, fewer digits, cropped, worst
                        quality, low quality
                    num_samples:
                      type: integer
                      description: |
                        Number of samples (higher values may OOM). Options:
                        ['1', '4']
                      default: 1
                      format: int32
                    image_resolution:
                      type: integer
                      description: |
                        Image resolution to be generated. Options: ['256',
                        '512', '768']
                      default: 512
                      format: int32
                    ddim_steps:
                      type: integer
                      description: Steps
                      default: 20
                      format: int32
                    scale:
                      type: number
                      description: 'Scale for classifier-free guidance. Options: 0.1 -> 30.0'
                      default: 9
                      format: float
                    seed:
                      type: integer
                      description: Seed for reproducibility.
                      default: null
                      format: int32
                    eta:
                      type: number
                      description: |
                        Controls the amount of noise that is added to the input
                        data during the denoising diffusion process. Higher
                        value -> more noise
                      default: 0
                      format: float
                    low_threshold:
                      type: integer
                      default: 100
                      format: int32
                    high_threshold:
                      type: integer
                      default: 200
                      format: int32
                  required:
                    - prompt
                  type: object
                  description: The input parameters that can be used by ControlNet Canny.
      responses:
        '200':
          description: '200'
          content:
            application/json:
              examples:
                Result:
                  value: |
                    {

                    "delayTime": 199231,

                    "executionTime": 10337,

                    "id": "73a50b0f-844c-4028-a2d2-946c8f0cf584",

                    "input": {

                    "image_url":
                    "https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg",

                    "prompt": "A frog performing yoga."

                    },

                    "output":
                    "https://14068d66ba387efac9ce5e4b1741bcf2.r2.cloudflarestorage.com/ai-api/03-23/73a50b0f-844c-4028-a2d2-946c8f0cf584/8f53aeef.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=16b502c87564788383d52ec498a61a24%2F20230320%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230320T193202Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=7a4df2e610b5556e48c5e300238e8d24e3e4d403770509232f747d9728e4dbf2",

                    "status": "COMPLETED"

                    }
              schema:
                type: object
                properties:
                  delayTime:
                    type: integer
                    example: 199231
                    default: 0
                  executionTime:
                    type: integer
                    example: 10337
                    default: 0
                  id:
                    type: string
                    example: 73a50b0f-844c-4028-a2d2-946c8f0cf584
                  input:
                    type: object
                    properties:
                      image_url:
                        type: string
                        example: |
                          https://github.com/runpod/serverless-workers/raw/main/Input-Samples/yoga.jpg
                      prompt:
                        type: string
[...]
