/* Dracula color scheme for code blocks */
:root {
    --background: #282a36; /* Background Color */
    --current-line: #44475a; /* Current Line Color */
    --selection: #44475a; /* Selection Color */
    --foreground: #f8f8f2; /* Foreground Color */
    --comment: #6272a4; /* Comment Color */
    --cyan: #8be9fd; /* Cyan Color */
    --green: #50fa7b; /* Green Color */
    --orange: #ffb86c; /* Orange Color */
    --pink: #ff79c6; /* Pink Color */
    --purple: #bd93f9; /* Purple Color */
    --red: #ff5555; /* Red Color */
    --yellow: #f1fa8c; /* Yellow Color */
  }

.token.comment {
    color: var(--comment) !important;
}

.token.function {
    /* color: #5be1ff !important; */
    color: var(--green) !important;

}

.token.parameter{
    color: var(--orange) !important;
}

.token.keyword,

.token.property {
    color: var(--purple) !important;
}

.token.interpolation
{
    color: var(--yellow) !important;
}

.token.string {
    color: var(--pink) !important;
}

.token.builtin
 {
    /* color: #acd1d7 !important; */
    /* color: #fff671 !important; */
    color: var(--cyan) !important;
}

.token.property {
    color: var(--foreground) !important;
}

.token.boolean{
    color: var(--purple) !important;
}

.token.number{
    color: var(--orange) !important;
}

.code-block{
    background-color: var(--background) !important;
}

.flex.rounded-t-2xl{
    /* background-color: var(--current-line) !important; */
}



