.token.comment {
    color: #8f9dae !important;
}

.token.function {
    color: #50FA7B !important;
}

.token.keyword,
.token.builtin,
.token.parameter {
    color: #BD93F9 !important;
}

.token.string {
    color: #FF79C6 !important;
}

.token.parameter {
    color: #BD93F9 !important;
}