.token.comment {
    color: #8f9dae !important;
}

.token.function {
    /* color: #5be1ff !important; */
    color: #fff671 !important;

}

.token.keyword,
.token.builtin,
.token.parameter,
.token.property {
    color: #a382ec !important;
}

.token.string {
    color: #FF79C6 !important;
}

.token.interpolation
 {
    /* color: #acd1d7 !important; */
    /* color: #fff671 !important; */
    color: #5be1ff !important;
}

.token.property {
    color: #F5F5F5 !important;
}