{
  "openapi": "3.1.0",
  "info": {
    "title": "Runpod REST API",
    "version": "2.0.0",
    "description": "Runpod public REST API — v2"
  },
  "servers": [
    {
      "url": "https://api.runpod.io",
      "description": "Runpod API v2 production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Account",
      "description": "Account-scoped settings and primitives (SSH public keys)."
    },
    {
      "name": "Pods",
      "description": "GPU and CPU pod lifecycle, configuration, actions, and log streaming."
    },
    {
      "name": "Serverless",
      "description": "Serverless endpoint lifecycle, worker visibility, releases, and worker log streaming."
    },
    {
      "name": "Templates",
      "description": "Reusable pod and endpoint configuration templates."
    },
    {
      "name": "Network Volumes",
      "description": "Persistent network storage volumes for workloads."
    },
    {
      "name": "Registries",
      "description": "Container registry credentials used to pull private images."
    },
    {
      "name": "Catalog",
      "description": "Available GPU, CPU, data center, and public template catalog metadata."
    },
    {
      "name": "Billing",
      "description": "Billing history and usage cost records across resource types."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Runpod API Key",
        "description": "Runpod API key authentication. Generate an API key in the Runpod console and send it in the `Authorization` header as `Bearer <api_key>`. Keys are scoped to the permissions granted when created; requests may return `403` when a valid key lacks access to the requested resource or action.\n"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed because the bearer token is missing, malformed, expired, or invalid.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingBearerToken": {
                "summary": "Missing bearer token",
                "value": {
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "missing bearer token"
                }
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "headers": {
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "description": "The bearer token is valid, but it does not grant access to the requested resource or action.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "insufficientAccess": {
                "summary": "Insufficient access",
                "value": {
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "access denied"
                }
              }
            }
          }
        }
      },
      "BadRequestError": {
        "headers": {
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "description": "The request could not be processed because it is malformed or conflicts with request rules.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "badRequest": {
                "summary": "Bad request",
                "value": {
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "request could not be processed"
                }
              }
            }
          }
        }
      },
      "NotFoundError": {
        "headers": {
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "description": "The requested resource was not found or is not accessible to the caller.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "summary": "Resource not found",
                "value": {
                  "title": "Not Found",
                  "status": 404,
                  "detail": "resource not found"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntityError": {
        "headers": {
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "description": "The request body or parameters were syntactically valid but failed validation.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validationFailed": {
                "summary": "Validation failed",
                "value": {
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "detail": "Request validation failed."
                }
              }
            }
          }
        }
      },
      "MethodNotAllowedError": {
        "description": "The request method is not supported for the target path.",
        "headers": {
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          },
          "Allow": {
            "description": "Comma-separated methods supported by the target path.",
            "schema": {
              "type": "string"
            },
            "example": "GET, POST"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "methodNotAllowed": {
                "summary": "Method not allowed",
                "value": {
                  "title": "Method Not Allowed",
                  "status": 405,
                  "detail": "The requested method is not allowed for this path."
                }
              }
            }
          }
        }
      },
      "TooManyRequestsError": {
        "description": "The caller exceeded its per-user rate limit. The response identifies the window that was exceeded and how long to wait. The `RateLimit` and `RateLimit-Policy` headers (per the IETF ratelimit-headers draft) also accompany successful responses, so clients can track quota before a 429.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying, per the exceeded window.",
            "schema": {
              "type": "integer"
            },
            "example": 12
          },
          "RateLimit": {
            "$ref": "#/components/headers/RateLimit"
          },
          "RateLimit-Policy": {
            "$ref": "#/components/headers/RateLimit-Policy"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "summary": "Rate limit exceeded",
                "value": {
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "rate limit exceeded for the minute window"
                }
              }
            }
          }
        }
      }
    },
    "headers": {
      "RateLimit": {
        "schema": {
          "$ref": "#/components/schemas/RateLimitHeader"
        }
      },
      "RateLimit-Policy": {
        "schema": {
          "$ref": "#/components/schemas/RateLimitPolicyHeader"
        }
      }
    },
    "parameters": {
      "BillingStartTime": {
        "name": "startTime",
        "in": "query",
        "required": false,
        "description": "Start of the billing period (RFC 3339). Defaults to 30 days ago. Snapped down to the start of its bucketSize bucket so the window aligns with the returned records; provide a boundary-aligned value (e.g. midnight for bucketSize=day) to avoid widening.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2026-05-01T00:00:00Z"
      },
      "BillingEndTime": {
        "name": "endTime",
        "in": "query",
        "required": false,
        "description": "End of the billing period (RFC 3339), exclusive. Defaults to now. Snapped up to the end of the bucketSize bucket it lands in (unless already on a boundary) so the window aligns with the returned records.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2026-06-01T00:00:00Z"
      },
      "BillingBucketSize": {
        "name": "bucketSize",
        "in": "query",
        "required": false,
        "description": "Length of each billing time bucket. Defaults to day.",
        "schema": {
          "$ref": "#/components/schemas/BillingBucketSize"
        }
      },
      "BillingLastN": {
        "name": "lastN",
        "in": "query",
        "required": false,
        "description": "Return the last N buckets of bucketSize, ending with the current (in-progress) bucket — e.g. lastN=100 with bucketSize=day is \"last 100 days\". The resolved window is aligned to bucket boundaries: startTime is the start of the earliest bucket (e.g. midnight of the earliest day) and endTime is the end of the current bucket. Mutually exclusive with startTime/endTime; provide one or the other, not both.\n",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "example": 30
      },
      "CatalogIncludeParam": {
        "name": "include",
        "in": "query",
        "required": false,
        "description": "Comma-separated optional expansions. Supported value today: AVAILABILITY. This may expand with more include values in the future.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "maxItems": 1,
          "items": {
            "$ref": "#/components/schemas/CatalogInclude"
          }
        },
        "example": [
          "AVAILABILITY"
        ]
      },
      "GpuProductFilter": {
        "name": "product",
        "in": "query",
        "required": false,
        "description": "Comma-separated availability product contexts. Supported values: POD, CLUSTER, SERVERLESS. Required with include=AVAILABILITY, and valid only with it (400 either way). There is no default: the same GPU type can be scarce for pods and plentiful for serverless, so the context has to be stated rather than assumed.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "example": [
          "POD",
          "SERVERLESS"
        ]
      },
      "GpuCountFilter": {
        "name": "count",
        "in": "query",
        "required": false,
        "description": "GPU count for availability and lowest-price calculations. Valid only with include=AVAILABILITY. Defaults to 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "example": 2
      },
      "GpuCloudFilter": {
        "name": "cloud",
        "in": "query",
        "required": false,
        "description": "Cloud type for availability and lowest-price calculations. Valid only with include=AVAILABILITY. Supported values: SECURE, COMMUNITY. Upstream default when omitted: SECURE.",
        "schema": {
          "$ref": "#/components/schemas/GpuCloudFilter"
        }
      },
      "CountryCodesFilter": {
        "name": "countryCodes",
        "in": "query",
        "required": false,
        "description": "Comma-separated ISO 3166-1 alpha-2 country codes, uppercase, to constrain availability to — e.g. FR or FR,DE. Values within this filter use OR semantics. Valid only with include=AVAILABILITY (400 otherwise); a malformed entry is a 422. Scopes availability, lowest-price calculations and the dataCenters array to those countries, so a listed data center outside them is omitted rather than returned with availability NONE. On the list endpoint a GPU type with no data center in those countries drops out entirely; the single-GPU endpoint still returns the requested type, with availability NONE and dataCenters omitted, so a 404 keeps meaning the GPU type does not exist. Read the NONE on availability rather than the absence of dataCenters, which is also absent when availability was not requested.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "^[A-Z]{2}$"
          }
        },
        "example": [
          "FR",
          "DE"
        ]
      },
      "CudaVersionsFilter": {
        "name": "cudaVersions",
        "in": "query",
        "required": false,
        "description": "Comma-separated CUDA versions to scope availability and lowest-price calculations to, matched exactly. Format: major.minor, e.g. 12.8 — a bare major is rejected here because it identifies no version. Valid only with include=AVAILABILITY (400 otherwise) and mutually exclusive with minCudaVersion (400 if both are sent); a malformed entry is a 422. Also narrows the returned cudaVersions array; omit it to enumerate every version offered.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "type": "string",
            "pattern": "^\\d+\\.\\d+$"
          }
        },
        "example": [
          "12.8",
          "12.6"
        ]
      },
      "MinCudaVersionFilter": {
        "name": "minCudaVersion",
        "in": "query",
        "required": false,
        "description": "Lowest acceptable CUDA version to scope availability and lowest-price calculations to, compared numerically. Format: integer major or major.minor, e.g. 12 or 12.1 — unlike the `gpu.minCudaVersion` body field on pod and endpoint create, a bare major is accepted here and means any release of that major, because this filter only widens a read. Valid only with include=AVAILABILITY (400 otherwise) and mutually exclusive with cudaVersions (400 if both are sent); a malformed value is a 422. Use this for an open-ended floor and cudaVersions for an exact set.",
        "schema": {
          "type": "string",
          "pattern": "^\\d+(\\.\\d+)?$"
        },
        "example": "12.1"
      },
      "CpuProductFilter": {
        "name": "product",
        "in": "query",
        "required": false,
        "description": "Comma-separated availability product contexts. Supported values for CPUs: POD, SERVERLESS. Required with include=AVAILABILITY, and valid only with it (400 either way). There is no default: availability differs by product.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CpuProduct"
          },
          "example": [
            "POD",
            "SERVERLESS"
          ]
        }
      },
      "CpuVCPUCountFilter": {
        "name": "vcpuCount",
        "in": "query",
        "required": false,
        "description": "Availability vCPU count. Valid only with include=AVAILABILITY. Must be a power of two.",
        "schema": {
          "type": "integer",
          "minimum": 2
        },
        "example": 4
      },
      "LogSourceParam": {
        "name": "source",
        "in": "query",
        "required": false,
        "description": "Log source to stream. Omit to include both container and system logs.",
        "schema": {
          "$ref": "#/components/schemas/LogSource"
        }
      },
      "LogTail": {
        "name": "tail",
        "in": "query",
        "required": false,
        "description": "Number of historical lines to backfill before streaming. Defaults to\n100 when omitted; set `0` to stream live with no backfill. Maximum 5000.\nIgnored when `since` or `Last-Event-ID` is provided — the resume cursor\ndrives the backfill instead.\n",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 5000,
          "default": 100
        }
      },
      "LogSince": {
        "name": "since",
        "in": "query",
        "required": false,
        "description": "RFC3339 timestamp to resume from. Ignored when `Last-Event-ID` is\nprovided. When set, the stream resumes from this point and `tail` is\nignored.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "LogLastEventID": {
        "name": "Last-Event-ID",
        "in": "header",
        "required": false,
        "description": "SSE reconnect cursor — a timestamp emitted by this endpoint. Takes\nprecedence over `since` and `tail`: when present, the stream resumes\nfrom this point. Sent automatically by EventSource on reconnect.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "schemas": {
      "BaseContainerConfig": {
        "type": "object",
        "description": "Container configuration universal to every containerized resource. Compose ContainerConfig instead unless the resource cannot support private registries (clusters, until the upstream input accepts a registry credential).\n",
        "properties": {
          "args": {
            "type": "string",
            "description": "Arguments passed to the container entrypoint",
            "examples": [
              ""
            ]
          },
          "disk": {
            "type": "integer",
            "minimum": 1,
            "description": "Container disk in GB (ephemeral, wiped on restart)",
            "examples": [
              50
            ]
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Environment variables as key-value pairs",
            "examples": [
              {
                "JUPYTER_PASSWORD": "hunter2"
              }
            ]
          },
          "image": {
            "type": "string",
            "description": "Docker image reference",
            "examples": [
              "runpod/pytorch:1.0.2-cu1281-torch280-ubuntu2404"
            ]
          },
          "ports": {
            "type": "array",
            "description": "Exposed ports, formatted as port/protocol",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "8888/http",
                "22/tcp"
              ]
            ]
          }
        }
      },
      "ContainerConfig": {
        "description": "Reusable container configuration shared across templates, pods, and serverless endpoints. Adding a field here automatically propagates to all three resources.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseContainerConfig"
          },
          {
            "type": "object",
            "properties": {
              "registry": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Container registry credential ID (for private images)",
                "examples": [
                  null
                ]
              }
            }
          }
        ]
      },
      "Mounts": {
        "type": "object",
        "additionalProperties": false,
        "description": "Storage mounts attached to a pod. At-most-one of `persistent` or\n`network` may be set today (mutually exclusive, enforced at the\nhandler with 400 if both are present). The `network` field is an\narray for forward compatibility with eventual multi-network-volume\nsupport, but `maxItems` is 1 today.\n\nPATCH semantics:\n- Omitting `mounts` or sending `{}` leaves the existing mount\n  unchanged.\n- An explicit `network: []` is rejected with 400 (clearing mounts\n  is not supported).\n- Mount kind is fixed at create — a PATCH that introduces a kind\n  not present at create (persistent on a network pod, network on\n  a persistent pod, or any mount on a previously-mountless pod)\n  is rejected with 400.\n- The `volumeId` of a network mount is immutable; a PATCH that\n  names a different `volumeId` is rejected with 400.\n- Partial mounts are not supported — every mount entry must\n  include the full schema (`size` + `path` for persistent,\n  `volumeId` + `path` for network). Missing required fields → 422.\n",
        "properties": {
          "persistent": {
            "$ref": "#/components/schemas/PersistentMount"
          },
          "network": {
            "type": "array",
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/NetworkMount"
            }
          }
        }
      },
      "TemplateMounts": {
        "type": "object",
        "additionalProperties": false,
        "description": "Storage mounts attached to a template. Templates support only a\nsingle persistent mount today; any `network` property is rejected\nwith 422 by the schema validator.\n\nPATCH semantics: omitting `mounts` or sending `{}` leaves the\nexisting mount unchanged.\n",
        "properties": {
          "persistent": {
            "$ref": "#/components/schemas/PersistentMount"
          }
        }
      },
      "PersistentMount": {
        "type": "object",
        "required": [
          "size",
          "path"
        ],
        "additionalProperties": false,
        "description": "Host-local persistent storage. Pinned to the pod's host machine — data\ndoes not survive a host failure. Disallowed on CPU pods. Mutually\nexclusive with NetworkMount. Deprecated: prefer NetworkMount for any\ndata you cannot recreate.\n",
        "properties": {
          "size": {
            "type": "integer",
            "minimum": 10,
            "description": "Host-local persistent storage in GB. Upstream enforces a 10 GB floor.",
            "examples": [
              20
            ]
          },
          "path": {
            "type": "string",
            "description": "Mount path inside the container. May be changed via PATCH.",
            "examples": [
              "/workspace"
            ]
          }
        }
      },
      "NetworkMount": {
        "type": "object",
        "required": [
          "volumeId",
          "path"
        ],
        "additionalProperties": false,
        "description": "Reference to a NetworkVolume. Custom paths are honored at runtime on\nboth GPU and CPU pods. The underlying `volumeId` is immutable\npost-create; the mount `path` may be changed via PATCH.\n",
        "properties": {
          "volumeId": {
            "type": "string",
            "description": "ID of an existing NetworkVolume in the same data center as the pod.",
            "examples": [
              "vol_xyz"
            ]
          },
          "path": {
            "type": "string",
            "description": "Mount path inside the container. No default — must be specified explicitly.",
            "examples": [
              "/runpod-volume"
            ]
          }
        }
      },
      "BaseGpuConfig": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "GPU type identifier",
            "examples": [
              "NVIDIA GeForce RTX 4090"
            ]
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of GPUs",
            "examples": [
              1
            ]
          }
        }
      },
      "GpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGpuConfig"
          },
          {
            "type": "object",
            "required": [
              "vcpuCount",
              "memory"
            ],
            "properties": {
              "vcpuCount": {
                "type": "number",
                "format": "double",
                "minimum": 1,
                "description": "Total vCPU count allocated to the pod across all requested GPUs.",
                "examples": [
                  2
                ]
              },
              "memory": {
                "type": "number",
                "format": "double",
                "minimum": 1,
                "description": "Total system RAM in GB allocated to the pod across all requested GPUs.",
                "examples": [
                  8
                ]
              }
            }
          }
        ]
      },
      "CreateGpuConfig": {
        "description": "GPU request for a pod create. Carries the CUDA host constraints, which\nlive here rather than at the body's top level so they are\nunrepresentable on a CPU pod.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseGpuConfig"
          },
          {
            "type": "object",
            "properties": {
              "allowedCudaVersions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$"
                },
                "description": "Acceptable CUDA versions for the host machine, as `major.minor`.\nOmit to accept any version. Matching is exact, so a version no\nmachine reports yields a capacity error rather than a fallback —\ndiscover valid values per GPU type via\n`GET /v2/catalog/gpus?include=AVAILABILITY&product=POD`\n(`cudaVersions`).\n\nA non-empty set is mutually exclusive with minCudaVersion (400\nif both are sent). An explicit `[]` states no constraint, so it\nmay accompany a floor.\n",
                "examples": [
                  [
                    "12.8",
                    "12.6"
                  ]
                ]
              },
              "minCudaVersion": {
                "type": "string",
                "pattern": "^\\d+\\.\\d+$",
                "description": "Lowest acceptable CUDA version for the host machine, as\n`major.minor`, compared numerically rather than as a decimal —\nso 12.11 is above 12.2. Use this for an open-ended floor and\nallowedCudaVersions for an exact set.\n\nMutually exclusive with a non-empty allowedCudaVersions (400 if\nboth are sent); an explicit `[]` there states no constraint and\nmay accompany this floor.\n",
                "examples": [
                  "12.1"
                ]
              },
              "minRamPerGpu": {
                "type": "integer",
                "minimum": 1,
                "description": "Minimum host system RAM in GB per requested GPU. This is a placement filter, not a resource request. The actual total allocated system RAM may be higher and is returned in gpu.memory.",
                "examples": [
                  8
                ]
              },
              "minVcpuCountPerGpu": {
                "type": "integer",
                "minimum": 1,
                "description": "Minimum host vCPU count per requested GPU. This is a placement filter, not a resource request. The actual total allocated vCPU count may be higher and is returned in gpu.vcpuCount.",
                "examples": [
                  2
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "BaseCpuConfig": {
        "type": "object",
        "required": [
          "id",
          "vcpuCount"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "CPU flavor identifier, as returned by GET /v2/catalog/cpus.",
            "examples": [
              "cpu5c"
            ],
            "minLength": 1
          },
          "vcpuCount": {
            "type": "integer",
            "minimum": 2,
            "description": "Number of vCPUs. Must be valid for the selected CPU flavor and must be a power of two.",
            "examples": [
              4
            ]
          }
        }
      },
      "CreateCpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseCpuConfig"
          }
        ],
        "unevaluatedProperties": false
      },
      "CpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseCpuConfig"
          },
          {
            "type": "object",
            "required": [
              "memory"
            ],
            "properties": {
              "memory": {
                "type": "integer",
                "minimum": 1,
                "description": "Memory allocated to the pod in GB.",
                "examples": [
                  16
                ]
              }
            }
          }
        ]
      },
      "FlashBoot": {
        "type": "string",
        "description": "FlashBoot cold-start acceleration mode.\n- `OFF`                — disabled\n- `FLASHBOOT`          — enabled\n- `PRIORITY_FLASHBOOT` — enabled with priority capacity\n",
        "enum": [
          "OFF",
          "FLASHBOOT",
          "PRIORITY_FLASHBOOT"
        ]
      },
      "EndpointType": {
        "type": "string",
        "description": "Request-routing semantics for a modern serverless endpoint.\n- `QUEUE` — submit asynchronous or synchronous jobs through the managed queue.\n- `LOAD_BALANCER` — send requests directly to worker-defined HTTP paths.\n  Configure via `env`: `PORT` (server port, default 80), `PORT_HEALTH`\n  (health-check port, default 80), and `HEALTH_CHECK_PATH` (path the\n  load balancer polls for worker health, default `/ping`).\n",
        "x-enum-varnames": [
          "EndpointTypeQueue",
          "EndpointTypeLoadBalancer"
        ],
        "enum": [
          "QUEUE",
          "LOAD_BALANCER"
        ]
      },
      "QueueBasedRequestUrls": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "run",
          "runSync",
          "status",
          "stream",
          "cancel",
          "retry",
          "purgeQueue",
          "health"
        ],
        "properties": {
          "run": {
            "type": "string",
            "format": "uri",
            "description": "URL for asynchronously submitting a queued job.\nSee the [/run operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/run) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/run"
            ]
          },
          "runSync": {
            "type": "string",
            "format": "uri",
            "description": "URL for synchronously submitting a queued job. Accepts an optional `?wait=x` query parameter to control how long the request waits for job completion, defaulting to 90 seconds.\nSee the [/runsync operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/runsync) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/runsync"
            ]
          },
          "status": {
            "type": "string",
            "format": "uri",
            "description": "Check the current state, execution statistics, and results of a previously submitted job.\nSee the [/status operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/status) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/status/{job_id}"
            ]
          },
          "stream": {
            "type": "string",
            "format": "uri",
            "description": "Receive incremental results as they become available from a job that generates output progressively.\nSee the [/stream operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/stream) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/stream/{job_id}"
            ]
          },
          "cancel": {
            "type": "string",
            "format": "uri",
            "description": "Stop an in-progress job or remove a queued job before it starts.\nSee the [/cancel operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/cancel) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/cancel/{job_id}"
            ]
          },
          "retry": {
            "type": "string",
            "format": "uri",
            "description": "Requeue a failed or timed-out job without submitting a new request.\nSee the [/retry operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/retry) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/retry/{job_id}"
            ]
          },
          "purgeQueue": {
            "type": "string",
            "format": "uri",
            "description": "Remove all pending jobs from the queue. Does not affect in-progress jobs.\nSee the [/purge-queue operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/purge-queue) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/purge-queue"
            ]
          },
          "health": {
            "type": "string",
            "format": "uri",
            "description": "Overview of an endpoint's operational status.\nSee the [/health operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference#/health) for request and response bodies.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/health"
            ]
          }
        }
      },
      "LoadBalancingRequestUrls": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "base",
          "health"
        ],
        "properties": {
          "base": {
            "type": "string",
            "format": "uri",
            "description": "Base URL for worker-defined HTTP and WebSocket paths.\nSee [Load balancing endpoints](https://docs.runpod.io/serverless/load-balancing/overview).",
            "examples": [
              "https://4m7x2k9q.api.runpod.ai"
            ]
          },
          "health": {
            "type": "string",
            "format": "uri",
            "description": "Health check endpoint the load balancer will periodically ping to decide if the worker is healthy enough to receive traffic. Configurable by setting the `HEALTH_CHECK_PATH` environment variable. Defaults to `/ping` if the variable is not set.\nSee [Health checks](https://docs.runpod.io/serverless/load-balancing/overview#health-checks) for the response codes it interprets.",
            "examples": [
              "https://4m7x2k9q.api.runpod.ai/ping"
            ]
          }
        }
      },
      "EndpointRequestUrls": {
        "description": "Request URLs appropriate to the endpoint's top-level `type`.\nQueue-based endpoints provide job submission and management URLs;\nload-balancing endpoints provide `base` and `health` because their\nremaining paths are worker-defined.\n\nRequest and response bodies for the queue-based URLs are documented in\nthe [serverless operation reference](https://docs.runpod.io/serverless/endpoints/operation-reference).\nLoad-balancing endpoints are documented in\n[Load balancing endpoints](https://docs.runpod.io/serverless/load-balancing/overview).",
        "oneOf": [
          {
            "$ref": "#/components/schemas/QueueBasedRequestUrls"
          },
          {
            "$ref": "#/components/schemas/LoadBalancingRequestUrls"
          }
        ]
      },
      "BaseEndpointGpuConfig": {
        "type": "object",
        "properties": {
          "pools": {
            "type": "array",
            "minItems": 1,
            "description": "Serverless GPU pool IDs (as returned by `GET /v2/catalog/gpus` in\n`pool`). Workers are placed on whichever listed pool has capacity.\nNarrow a pool down to specific cards with `excludedTypes`.\n",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "ADA_24"
              ]
            ]
          },
          "excludedTypes": {
            "type": "array",
            "uniqueItems": true,
            "description": "GPU **type** IDs to subtract from the selected pools — the `id`\nfield of `GET /v2/catalog/gpus`, the same identifiers pods take in\n`gpu.id`. Workers run on every type in `pools` except these. Omit to\nuse the whole pool.\n\nPools stay the unit of selection; types are the unit of\nsubtraction. There is no inclusive allowlist: a card later added to\none of your pools becomes eligible, which is the honest reading of\n\"this pool, minus these\".\n\nTied to `pools`, because the two together are one selection:\nsupplying `pools` replaces that selection wholesale, so a `PATCH`\nsending `pools` **without `excludedTypes`** **clears** them —\nrestate them to keep them. A `PATCH` that omits `pools` leaves both\nthe pools and the exclusions untouched, so changing only a CUDA\nconstraint cannot widen a pinned endpoint.\n\nRejected with 400 if a value is not a GPU type in one of `pools`;\nupstream accepts unrecognized exclusions silently, so a typo would\notherwise produce a filter that does nothing. Surrounding whitespace\nis trimmed, so `\" NVIDIA L40\"` and `\"NVIDIA L40\"` mean the same card.\n",
            "items": {
              "type": "string",
              "pattern": "^\\s*[^-\\s]"
            },
            "examples": [
              [
                "NVIDIA L40"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "GPUs per worker",
            "examples": [
              1
            ]
          }
        }
      },
      "EndpointGpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEndpointGpuConfig"
          },
          {
            "type": "object",
            "required": [
              "pools",
              "allowedCudaVersions",
              "minCudaVersion"
            ],
            "properties": {
              "allowedCudaVersions": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Acceptable CUDA versions for worker placement, as `major.minor`. Empty means any version.",
                "examples": [
                  []
                ]
              },
              "minCudaVersion": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Lowest acceptable CUDA version for worker placement, as `major.minor`. Null means no floor.",
                "examples": [
                  null
                ]
              }
            }
          }
        ]
      },
      "CreateEndpointGpuConfig": {
        "description": "GPU request for an endpoint create. Carries the CUDA constraints, which\nlive here rather than at the body's top level so they are\nunrepresentable on a CPU endpoint.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEndpointGpuConfig"
          },
          {
            "type": "object",
            "required": [
              "pools"
            ],
            "properties": {
              "allowedCudaVersions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$"
                },
                "description": "Acceptable CUDA versions for worker placement, as\n`major.minor`. Omit to accept any version (or inherit the\ntemplate's constraint when creating from `templateId`).\nMatching is exact — discover valid values per GPU type via\n`GET /v2/catalog/gpus?include=AVAILABILITY&product=SERVERLESS`\n(`cudaVersions`).\n\nA non-empty set is mutually exclusive with minCudaVersion (400\nif both are sent). An explicit `[]` states no constraint, so it\nmay accompany a floor.\n",
                "examples": [
                  [
                    "12.8",
                    "12.6"
                  ]
                ]
              },
              "minCudaVersion": {
                "type": "string",
                "pattern": "^\\d+\\.\\d+$",
                "description": "Lowest acceptable CUDA version for worker placement, as\n`major.minor`, compared numerically rather than as a decimal —\nso 12.11 is above 12.2. Use this for an open-ended floor and\nallowedCudaVersions for an exact set.\n\nMutually exclusive with a non-empty allowedCudaVersions (400 if\nboth are sent); an explicit `[]` there states no constraint and\nmay accompany this floor.\n",
                "examples": [
                  "12.1"
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdateEndpointGpuConfig": {
        "description": "Partial GPU update — every field is optional and an omitted one is left\nunchanged. Unlike create, `pools` is optional, so changing only a CUDA\nconstraint does not require resending the pool list.\n\n`excludedTypes` requires `pools`, because the two are one selection and\nonly a supplied `pools` replaces it — an exclusion on its own would\notherwise be silently dropped.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseEndpointGpuConfig"
          },
          {
            "type": "object",
            "dependentRequired": {
              "excludedTypes": [
                "pools"
              ]
            },
            "properties": {
              "allowedCudaVersions": {
                "type": "array",
                "items": {
                  "type": "string",
                  "pattern": "^\\d+\\.\\d+$"
                },
                "description": "Acceptable CUDA versions for worker placement, as\n`major.minor`. An explicit `[]` clears the constraint;\nomitting the field leaves it unchanged. Takes effect as\nworkers are replaced.\n\nA non-empty set is mutually exclusive with minCudaVersion (400\nif both are sent). An explicit `[]` states no constraint, so it\nmay accompany a floor.\nSetting one does not clear the other — clear it explicitly in\nthe same patch if the endpoint already carries it.\n"
              },
              "minCudaVersion": {
                "type": "string",
                "pattern": "^$|^\\d+\\.\\d+$",
                "description": "Lowest acceptable CUDA version for worker placement, as\n`major.minor`. An explicit `\"\"` clears the floor; omitting the\nfield leaves it unchanged. Takes effect as workers are\nreplaced.\n\nMutually exclusive with a non-empty allowedCudaVersions (400 if\nboth are sent); an explicit `[]` there states no constraint and\nmay accompany this floor.\n",
                "examples": [
                  "12.1"
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "EndpointWorkers": {
        "type": "object",
        "additionalProperties": false,
        "properties": {
          "min": {
            "type": "integer",
            "minimum": 0,
            "description": "Minimum number of workers.",
            "examples": [
              0
            ]
          },
          "max": {
            "type": "integer",
            "minimum": 0,
            "description": "Maximum number of workers.",
            "examples": [
              5
            ]
          },
          "idleTimeout": {
            "type": "integer",
            "minimum": 1,
            "maximum": 3600,
            "description": "Seconds before idle workers scale down. Not applicable to queue-based\nendpoints scaling on `requestCount` — rejected on create/update and\nomitted from responses for that combination.\n",
            "examples": [
              5
            ]
          }
        }
      },
      "QueueDelayScaling": {
        "type": "object",
        "additionalProperties": false,
        "description": "Scale on queue wait time. Queue-based endpoints only.",
        "required": [
          "type",
          "queueDelay"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Scaler discriminator. Always `QUEUE_DELAY` for this variant.",
            "enum": [
              "QUEUE_DELAY"
            ]
          },
          "queueDelay": {
            "type": "number",
            "format": "float",
            "minimum": 0.5,
            "description": "Adjusts the number of workers based on how long requests wait in the queue.",
            "examples": [
              4
            ]
          }
        }
      },
      "RequestCountScaling": {
        "type": "object",
        "additionalProperties": false,
        "description": "Scale on concurrent in-flight requests per worker. Required for\nload-balancing endpoints; also selectable for queue-based.\n",
        "required": [
          "type",
          "requestCount"
        ],
        "properties": {
          "type": {
            "type": "string",
            "description": "Scaler discriminator. Always `REQUEST_COUNT` for this variant.",
            "enum": [
              "REQUEST_COUNT"
            ]
          },
          "requestCount": {
            "type": "integer",
            "minimum": 1,
            "description": "Adjusts the number of workers based on active in-flight requests.",
            "examples": [
              4
            ]
          }
        }
      },
      "EndpointScaling": {
        "description": "Autoscaling signal — a discriminated union on `type`: `QUEUE_DELAY`\n(queue-based endpoints only) or `REQUEST_COUNT`. The scaler is chosen\nindependently of the endpoint's routing `type` and can be switched on\nupdate.\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/QueueDelayScaling"
          },
          {
            "$ref": "#/components/schemas/RequestCountScaling"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "QUEUE_DELAY": "#/components/schemas/QueueDelayScaling",
            "REQUEST_COUNT": "#/components/schemas/RequestCountScaling"
          }
        }
      },
      "Endpoint": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "id",
              "name",
              "workers",
              "scaling",
              "dataCenterIds",
              "networkVolumes",
              "timeout",
              "flashboot",
              "createdAt"
            ],
            "properties": {
              "id": {
                "type": "string",
                "examples": [
                  "ep_abc123"
                ]
              },
              "name": {
                "type": "string",
                "examples": [
                  "my-inference"
                ]
              },
              "type": {
                "$ref": "#/components/schemas/EndpointType"
              },
              "requestUrls": {
                "$ref": "#/components/schemas/EndpointRequestUrls"
              },
              "gpu": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/EndpointGpuConfig"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "cpu": {
                "type": "array",
                "minItems": 1,
                "description": "Eligible CPU configurations for each worker, in the order they\nwere submitted. Present for CPU endpoints and omitted for GPU\nendpoints. Memory is derived from the selected flavor's catalog\nRAM multiplier.\n",
                "items": {
                  "$ref": "#/components/schemas/CpuConfig"
                }
              },
              "workers": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EndpointWorkers"
                  }
                ],
                "required": [
                  "min",
                  "max"
                ]
              },
              "scaling": {
                "$ref": "#/components/schemas/EndpointScaling"
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "examples": [
                  [
                    "US-TX-3"
                  ]
                ]
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "examples": [
                  [
                    "vol_abc"
                  ]
                ]
              },
              "timeout": {
                "type": "integer",
                "description": "Per-request execution timeout in milliseconds",
                "examples": [
                  300000
                ]
              },
              "flashboot": {
                "$ref": "#/components/schemas/FlashBoot"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              }
            }
          }
        ]
      },
      "ListEndpointsResponse": {
        "type": "object",
        "required": [
          "endpoints"
        ],
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          }
        }
      },
      "WorkerStatus": {
        "type": "string",
        "description": "Derived worker state, reconciled from the worker pod's lifecycle status\nand the live job-queue view.\n- `RUNNING`      — actively processing a job\n- `IDLE`         — ready and polling for jobs\n- `INITIALIZING` — starting up, not yet ready\n- `THROTTLED`    — waiting on compute capacity\n- `UNHEALTHY`    — failing health checks\n",
        "x-enum-varnames": [
          "WorkerStatusRunning",
          "WorkerStatusIdle",
          "WorkerStatusInitializing",
          "WorkerStatusThrottled",
          "WorkerStatusUnhealthy"
        ],
        "enum": [
          "RUNNING",
          "IDLE",
          "INITIALIZING",
          "THROTTLED",
          "UNHEALTHY"
        ]
      },
      "Worker": {
        "type": "object",
        "required": [
          "id",
          "status",
          "gpuCount",
          "isStale"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "worker_abc"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/WorkerStatus"
          },
          "isStale": {
            "type": "boolean",
            "description": "True when the worker is running an older endpoint configuration than\nthe current one (e.g. mid rolling-update). This is the authoritative\nflag: it is derived from `version` vs the response's `endpointVersion`,\nexcept on legacy endpoints (`endpointVersion` 1) where it falls back\nto a container-image comparison.\n",
            "examples": [
              false
            ]
          },
          "version": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Endpoint configuration version this worker is running. Compare with\nthe response's `endpointVersion`. Null if unknown.\n",
            "examples": [
              4
            ]
          },
          "gpuCount": {
            "type": "integer",
            "minimum": 0,
            "description": "GPUs allocated to the worker.",
            "examples": [
              1
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Container image the worker is running.",
            "examples": [
              "my-org/sdxl-worker:latest"
            ]
          },
          "uptimeSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Seconds the worker has been running. Null until the worker is placed and running.",
            "examples": [
              3600
            ]
          },
          "gpuTypeId": {
            "type": [
              "string",
              "null"
            ],
            "description": "GPU type the worker is placed on. Null until the worker is placed.",
            "examples": [
              "NVIDIA RTX 4090"
            ]
          },
          "dataCenterId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data center the worker is placed in. Null until the worker is placed.",
            "examples": [
              "US-TX-3"
            ]
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the worker last started. Null if it has not started.",
            "examples": [
              "2026-03-26T00:00:00Z"
            ]
          }
        }
      },
      "WorkerSummary": {
        "type": "object",
        "description": "Histogram of the returned workers by status. The per-status counts are a\nroll-up of the `workers` array, so `running + idle + initializing +\nthrottled + unhealthy == total == len(workers)`.\n",
        "required": [
          "running",
          "idle",
          "initializing",
          "throttled",
          "unhealthy",
          "total"
        ],
        "properties": {
          "running": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers actively processing a job.",
            "examples": [
              2
            ]
          },
          "idle": {
            "type": "integer",
            "minimum": 0,
            "description": "Ready workers polling for jobs.",
            "examples": [
              1
            ]
          },
          "initializing": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers starting up, not yet ready.",
            "examples": [
              0
            ]
          },
          "throttled": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers waiting on compute capacity.",
            "examples": [
              0
            ]
          },
          "unhealthy": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers failing health checks.",
            "examples": [
              0
            ]
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "All workers currently allocated to the endpoint.",
            "examples": [
              3
            ]
          }
        }
      },
      "ListEndpointWorkersResponse": {
        "type": "object",
        "required": [
          "workers",
          "summary"
        ],
        "properties": {
          "workers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Worker"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/WorkerSummary"
          },
          "endpointVersion": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint's current configuration version. A worker whose\n`version` differs is running stale config (see `worker.isStale`).\nNull if unknown.\n",
            "examples": [
              4
            ]
          }
        }
      },
      "ReleaseSource": {
        "type": "string",
        "description": "What produced the release.\n- `GIT_BUILD` — a completed GitHub build (see `buildId`)\n- `MANUAL`    — a manual configuration change\n",
        "x-enum-varnames": [
          "ReleaseSourceGitBuild",
          "ReleaseSourceManual"
        ],
        "enum": [
          "GIT_BUILD",
          "MANUAL"
        ]
      },
      "BuildState": {
        "type": "string",
        "description": "GitHub build lifecycle state. `COMPLETED`, `FAILED`, `CANCELLED`, and\n`TEST_FAILED` are terminal; `PENDING`, `BUILDING`, `UPLOADING`, and\n`TESTING` are live.\n",
        "x-enum-varnames": [
          "BuildStatePending",
          "BuildStateBuilding",
          "BuildStateUploading",
          "BuildStateTesting",
          "BuildStateCompleted",
          "BuildStateFailed",
          "BuildStateCancelled",
          "BuildStateTestFailed"
        ],
        "enum": [
          "PENDING",
          "BUILDING",
          "UPLOADING",
          "TESTING",
          "COMPLETED",
          "FAILED",
          "CANCELLED",
          "TEST_FAILED"
        ]
      },
      "Build": {
        "type": "object",
        "required": [
          "id",
          "status"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "build_abc123"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/BuildState"
          },
          "commitHash": {
            "type": [
              "string",
              "null"
            ],
            "description": "Short hash of the commit that triggered the build.",
            "examples": [
              "abc1234"
            ]
          },
          "commitMessage": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "bump model"
            ]
          },
          "branch": {
            "type": [
              "string",
              "null"
            ],
            "description": "Git branch the commit was pushed to.",
            "examples": [
              "main"
            ]
          },
          "commitDate": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the triggering commit was authored.",
            "examples": [
              "2026-06-01T12:00:00Z"
            ]
          },
          "imageName": {
            "type": [
              "string",
              "null"
            ],
            "description": "Fully qualified image the build produced (or will produce).",
            "examples": [
              "registry.runpod.net/repo:abc1234"
            ]
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the build started. Null while the build is still pending.",
            "examples": [
              "2026-06-01T12:00:05Z"
            ]
          },
          "completedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the build reached a terminal state. Null while the build is live.",
            "examples": [
              "2026-06-01T12:04:31Z"
            ]
          },
          "error": {
            "type": [
              "string",
              "null"
            ],
            "description": "Failure detail for `FAILED` / `TEST_FAILED` builds; null otherwise."
          }
        }
      },
      "ListEndpointBuildsResponse": {
        "type": "object",
        "required": [
          "builds"
        ],
        "properties": {
          "builds": {
            "type": "array",
            "description": "Build history, newest first. At most the 100 most recent builds\nare returned; any older build can still be fetched by id via\n`GET /v2/serverless/{id}/builds/{buildId}`.\n",
            "items": {
              "$ref": "#/components/schemas/Build"
            }
          }
        }
      },
      "ReleaseDiffEntry": {
        "type": "object",
        "required": [
          "field",
          "old",
          "new"
        ],
        "properties": {
          "field": {
            "type": "string",
            "description": "The changed configuration field. Top-level (e.g. `gpuCount`,\n`locations`) or template-scoped (e.g. `template.imageName`,\n`template.env`).\n",
            "examples": [
              "template.imageName"
            ]
          },
          "old": {
            "description": "Previous value, as raw JSON. Null when the field was added."
          },
          "new": {
            "description": "New value, as raw JSON. Null when the field was removed."
          }
        }
      },
      "Release": {
        "type": "object",
        "required": [
          "id",
          "source",
          "createdAt",
          "workerCount",
          "diff"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "rel_abc123"
            ]
          },
          "version": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint configuration version this release produced.",
            "examples": [
              4
            ]
          },
          "source": {
            "$ref": "#/components/schemas/ReleaseSource"
          },
          "buildId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The GitHub build that produced this release. Set when `source` is\n`GIT_BUILD`; null for `MANUAL` releases. Fetch build detail/logs via\n`/v2/serverless/{id}/builds/{buildId}`.\n",
            "examples": [
              "build_abc123"
            ]
          },
          "createdByUserId": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the user who created the release."
          },
          "workerCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers currently running this release's version.",
            "examples": [
              2
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2026-03-13T20:00:00Z"
            ]
          },
          "diff": {
            "type": "array",
            "description": "Configuration fields that changed in this release.",
            "items": {
              "$ref": "#/components/schemas/ReleaseDiffEntry"
            }
          }
        }
      },
      "RolloutSummary": {
        "type": "object",
        "required": [
          "inProgress",
          "workersOnLatest",
          "workersTotal",
          "percentOnLatest"
        ],
        "properties": {
          "inProgress": {
            "type": "boolean",
            "description": "True while any worker is still running an older version.",
            "examples": [
              true
            ]
          },
          "workersOnLatest": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers running the endpoint's current version.",
            "examples": [
              2
            ]
          },
          "workersTotal": {
            "type": "integer",
            "minimum": 0,
            "description": "All workers currently allocated to the endpoint.",
            "examples": [
              3
            ]
          },
          "percentOnLatest": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage of workers on the current version (0 when there are no workers).",
            "examples": [
              67
            ]
          }
        }
      },
      "ListEndpointReleasesResponse": {
        "type": "object",
        "required": [
          "rollout",
          "releases"
        ],
        "properties": {
          "endpointVersion": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint's current configuration version. Null if unknown.",
            "examples": [
              4
            ]
          },
          "rollout": {
            "$ref": "#/components/schemas/RolloutSummary"
          },
          "releases": {
            "type": "array",
            "description": "Release history, newest first.",
            "items": {
              "$ref": "#/components/schemas/Release"
            }
          }
        }
      },
      "CreateEndpointRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "if": {
              "not": {
                "required": [
                  "templateId"
                ]
              }
            },
            "then": {
              "required": [
                "image"
              ]
            }
          },
          {
            "type": "object",
            "required": [
              "name",
              "type",
              "scaling"
            ],
            "properties": {
              "gpu": {
                "$ref": "#/components/schemas/CreateEndpointGpuConfig"
              },
              "name": {
                "type": "string",
                "minLength": 1,
                "examples": [
                  "my-inference"
                ]
              },
              "scaling": {
                "$ref": "#/components/schemas/EndpointScaling"
              },
              "type": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EndpointType"
                  }
                ],
                "description": "Request-routing model. Required — it determines the valid scaler\nand request URLs, so it must be chosen explicitly on every create.\n"
              },
              "cpu": {
                "type": "array",
                "minItems": 1,
                "uniqueItems": true,
                "description": "Eligible CPU configurations for each worker. Memory is derived from the\nselected flavor's catalog RAM multiplier. Exact duplicate configurations\nare rejected; the same flavor may be listed at different vCPU counts.\n",
                "items": {
                  "$ref": "#/components/schemas/CreateCpuConfig"
                }
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty array to let the scheduler choose."
              },
              "flashboot": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FlashBoot"
                  }
                ],
                "default": "OFF"
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "templateId": {
                "type": "string",
                "minLength": 1,
                "description": "ID of a serverless template to base this endpoint on. The\ntemplate is resolved at create time into the same container\nsettings you could otherwise spread into this body (image,\nargs, disk, ports, env, registry); explicit body fields\noverride the template's, except `env`, which is merged per\nkey with body values winning. The template's\nallowedCudaVersions seeds `gpu.allowedCudaVersions` when the\nbody omits it — but only for a GPU create, since a CPU endpoint\nhas no gpu block to seed into, and not when the body sets\n`gpu.minCudaVersion`, since seeding a set beside a floor would\nmanufacture the mutual-exclusion 400 from a valid request. Its\npod-specific startSsh/startJupyter flags are\nignored. Later template edits do not affect the endpoint.\nThe template may be one of your own or a public catalog\ntemplate — see `GET /v2/catalog/templates` (unknown or\ninaccessible ID → 404) — and must be a serverless template\n(→ 422).\n",
                "examples": [
                  "30zmvf89kd"
                ]
              },
              "timeout": {
                "type": "integer",
                "default": 300000
              },
              "workers": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EndpointWorkers"
                  }
                ],
                "properties": {
                  "min": {
                    "type": "integer",
                    "default": 0
                  },
                  "max": {
                    "type": "integer",
                    "default": 3
                  },
                  "idleTimeout": {
                    "type": "integer",
                    "default": 10
                  }
                }
              }
            }
          }
        ],
        "unevaluatedProperties": false,
        "if": {
          "required": [
            "type"
          ],
          "properties": {
            "type": {
              "const": "LOAD_BALANCER"
            }
          }
        },
        "then": {
          "properties": {
            "scaling": {
              "$ref": "#/components/schemas/RequestCountScaling"
            }
          }
        }
      },
      "UpdateEndpointRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "description": "Only provided fields are changed.",
            "properties": {
              "cpu": {
                "type": "array",
                "minItems": 1,
                "uniqueItems": true,
                "description": "Complete replacement CPU selection. Valid only for an existing CPU\nendpoint; endpoint compute family cannot be changed.\n",
                "items": {
                  "$ref": "#/components/schemas/CreateCpuConfig"
                }
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty array to let the scheduler choose."
              },
              "flashboot": {
                "$ref": "#/components/schemas/FlashBoot"
              },
              "gpu": {
                "$ref": "#/components/schemas/UpdateEndpointGpuConfig"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "scaling": {
                "$ref": "#/components/schemas/EndpointScaling"
              },
              "templateId": {
                "type": "string",
                "description": "ID of a serverless template whose container settings are\napplied as if they were provided in this PATCH body (image,\nargs, disk, ports, env, registry). Explicit body fields\noverride the template's; `env` merges template and body per\nkey (body wins) and, per PATCH semantics, replaces the\nendpoint's env. One-time application — no link to the\ntemplate is retained. Must be one of your templates or a\npublic template (unknown or inaccessible ID → 404); must be\na serverless template (→ 422).\n",
                "examples": [
                  "30zmvf89kd"
                ]
              },
              "timeout": {
                "type": "integer"
              },
              "workers": {
                "$ref": "#/components/schemas/EndpointWorkers"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "Utilization": {
        "type": "object",
        "description": "Single-value utilization percentage (0–100). Shared by `cpu` and `memory`.",
        "properties": {
          "util": {
            "type": "integer",
            "examples": [
              45
            ]
          }
        }
      },
      "PodGpuUtilization": {
        "type": "object",
        "description": "Per-GPU utilization metrics.",
        "properties": {
          "util": {
            "type": "integer",
            "examples": [
              94
            ]
          },
          "memoryUtil": {
            "type": "integer",
            "examples": [
              78
            ]
          }
        }
      },
      "PodRuntimePort": {
        "type": "object",
        "description": "Live port mapping for a running pod.",
        "properties": {
          "private": {
            "type": "integer",
            "examples": [
              8888
            ]
          },
          "public": {
            "type": [
              "integer",
              "null"
            ],
            "examples": [
              43210
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "http"
            ]
          },
          "ip": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "45.23.12.1"
            ]
          }
        }
      },
      "PodRuntime": {
        "type": "object",
        "description": "Live utilization metrics for a running pod.",
        "properties": {
          "uptime": {
            "type": "integer",
            "description": "Seconds since the container started",
            "examples": [
              3600
            ]
          },
          "gpus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodGpuUtilization"
            }
          },
          "cpu": {
            "$ref": "#/components/schemas/Utilization"
          },
          "memory": {
            "$ref": "#/components/schemas/Utilization"
          },
          "ports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodRuntimePort"
            }
          }
        }
      },
      "PodStatus": {
        "type": "string",
        "description": "Lifecycle status of a pod.\n- `PROVISIONING` — pod is being allocated\n- `STARTING`     — container is starting\n- `RUNNING`      — container is healthy\n- `EXITED`       — container exited (stopped)\n- `ERROR`        — container is in an unrecoverable error state\n- `TERMINATED`   — pod has been permanently deleted\n",
        "enum": [
          "PROVISIONING",
          "STARTING",
          "RUNNING",
          "EXITED",
          "ERROR",
          "TERMINATED"
        ]
      },
      "PodAction": {
        "type": "string",
        "description": "State transition to trigger on a pod.",
        "enum": [
          "start",
          "stop",
          "restart",
          "terminate"
        ]
      },
      "LogSource": {
        "type": "string",
        "description": "Log source to include in a log stream.\n- `container` — container stdout/stderr log stream\n- `system`    — host lifecycle/userlogs stream\n",
        "x-enum-varnames": [
          "LogSourceContainer",
          "LogSourceSystem"
        ],
        "enum": [
          "container",
          "system"
        ]
      },
      "Cloud": {
        "type": "string",
        "description": "Cloud tier.\n- `SECURE`    — Runpod-owned datacenter hardware\n- `COMMUNITY` — community-hosted hardware\n",
        "enum": [
          "SECURE",
          "COMMUNITY"
        ]
      },
      "TemplateCategory": {
        "type": "string",
        "description": "Controls how the template is grouped and filtered in the Runpod console.\nIt does not affect hardware selection, scheduling, or billing.\n- `CPU`    — CPU-only workloads\n- `NVIDIA` — NVIDIA GPU workloads\n- `AMD`    — AMD GPU workloads\n",
        "enum": [
          "CPU",
          "NVIDIA",
          "AMD"
        ]
      },
      "PodGlobalNetworking": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether global networking is enabled, giving the pod a private IP reachable across data centers. Derived from whether the pod has an assigned global-network address.",
            "examples": [
              true
            ]
          },
          "ip": {
            "type": "string",
            "description": "The pod's assigned global-networking IP. Present only when enabled.",
            "examples": [
              "10.65.1.42"
            ]
          },
          "internalDns": {
            "type": "string",
            "description": "Internal DNS name (`<podId>.runpod.internal`), reachable from other globally-networked pods in the same account. Present only when enabled.",
            "examples": [
              "gfj8b292vyg08g.runpod.internal"
            ]
          }
        }
      },
      "PodSshEndpoint": {
        "type": "object",
        "required": [
          "host",
          "port",
          "username",
          "command"
        ],
        "description": "One way to reach the pod over SSH, as both its parts and a ready-to-run invocation.",
        "properties": {
          "host": {
            "type": "string",
            "description": "Hostname or IP to connect to.",
            "examples": [
              "ssh.runpod.io"
            ]
          },
          "port": {
            "type": "integer",
            "description": "TCP port to connect to.",
            "examples": [
              22
            ]
          },
          "username": {
            "type": "string",
            "description": "SSH username. For the proxy this is an opaque routing token, not a user account on the pod.",
            "examples": [
              "7h9k2m4n6p-64411eb2"
            ]
          },
          "command": {
            "type": "string",
            "description": "The equivalent `ssh` invocation, ready to run. Add `-i <path>` if the matching private key is not one of your default identities, and `-o StrictHostKeyChecking=no` to skip the host-key prompt on short-lived pods.",
            "examples": [
              "ssh 7h9k2m4n6p-64411eb2@ssh.runpod.io"
            ]
          }
        }
      },
      "PodSsh": {
        "type": "object",
        "required": [
          "proxy",
          "direct"
        ],
        "description": "How to connect to this pod over SSH. Both variants authenticate with the account's registered SSH public keys (`PUT /v2/account/ssh-keys`), which reach the pod only if it was created with `startSsh` — a pod created without it has no SSH access regardless of what this block reports.",
        "properties": {
          "proxy": {
            "description": "Connection through Runpod's SSH proxy. Works without exposing a port and without a public IP, but carries an interactive shell only — SCP, SFTP, rsync, and port forwarding need `direct`. Null until the pod has a machine assignment.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PodSshEndpoint"
              },
              {
                "type": "null"
              }
            ]
          },
          "direct": {
            "description": "Connection straight to the pod's sshd over its published `22/tcp` mapping. Supports the full SSH feature set. Null unless `22/tcp` is in `ports` and the running pod has been assigned a public port for it — so it is absent while the pod is provisioning or stopped.",
            "anyOf": [
              {
                "$ref": "#/components/schemas/PodSshEndpoint"
              },
              {
                "type": "null"
              }
            ]
          }
        }
      },
      "SshKeys": {
        "type": "object",
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The account's registered SSH public keys, one authorized_keys-style entry per element (`<type> <base64-key> [comment]`).",
            "examples": [
              [
                "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILXGDN/SclOozk1xsDztpmhGiKkkrfQB9SKoO8dSIQQZ me@example.com"
              ]
            ]
          }
        }
      },
      "UpdateSshKeysRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "keys"
        ],
        "properties": {
          "keys": {
            "type": "array",
            "items": {
              "type": "string",
              "pattern": "^(ssh|ecdsa|sk)-[^\\s]+ [^\\s]+([ \\t][^\\n\\r]*)?$"
            },
            "description": "The full set of SSH public keys to register — this is a complete\nreplacement, not a merge. Each entry is an authorized_keys-style\nline: `<type> <base64-key> [comment]`, e.g. from\n`~/.ssh/id_ed25519.pub`. Send `[]` to remove all keys. These keys\nare provisioned into pods created with `startSsh` and\nauthenticate both SSH paths reported in the pod's `ssh` block.\n",
            "examples": [
              [
                "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILXGDN/SclOozk1xsDztpmhGiKkkrfQB9SKoO8dSIQQZ me@example.com"
              ]
            ]
          }
        }
      },
      "Pod": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "id",
              "name",
              "status",
              "actions",
              "image",
              "args",
              "disk",
              "mounts",
              "ports",
              "env",
              "registry",
              "cloud",
              "dataCenterId",
              "cudaVersion",
              "ssh",
              "template",
              "cost",
              "locked",
              "runtime",
              "createdAt",
              "startedAt",
              "globalNetworking"
            ],
            "properties": {
              "id": {
                "type": "string",
                "examples": [
                  "pod_abc123"
                ]
              },
              "name": {
                "type": "string",
                "examples": [
                  "my-training-pod"
                ]
              },
              "status": {
                "$ref": "#/components/schemas/PodStatus"
              },
              "actions": {
                "type": "array",
                "description": "Valid state transitions for the current status.",
                "items": {
                  "$ref": "#/components/schemas/PodAction"
                }
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "gpu": {
                "description": "Present for GPU pods; omitted from CPU pods.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GpuConfig"
                  }
                ]
              },
              "cpu": {
                "description": "Present for CPU pods; omitted from GPU pods.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CpuConfig"
                  }
                ]
              },
              "cloud": {
                "$ref": "#/components/schemas/Cloud"
              },
              "dataCenterId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Data center where the pod is running (assigned by scheduler)",
                "examples": [
                  "US-TX-3"
                ]
              },
              "cudaVersion": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "CUDA version reported by the host machine. Retained while the pod is stopped — a stopped pod keeps its machine assignment and resumes onto the same host. Null means unknown or not applicable (CPU pods, or a host that has not reported one), not that CUDA is absent.",
                "examples": [
                  "12.8"
                ]
              },
              "ssh": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PodSsh"
                  }
                ],
                "description": "SSH connection details, via the Runpod proxy or directly to the pod's published `22/tcp` port."
              },
              "cluster": {
                "description": "Cluster membership; omitted from a standalone pod. Member pods are managed through `/v2/clusters/{id}` — they are excluded from `GET /v2/pods` by default (pass `includeClusterPods=true` to include them) and cannot be modified or deleted via the pod endpoints.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PodCluster"
                  }
                ]
              },
              "template": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "ID of the template this pod was created from",
                "examples": [
                  null
                ]
              },
              "cost": {
                "type": "number",
                "format": "float",
                "description": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
                "examples": [
                  0.35
                ]
              },
              "locked": {
                "type": "boolean",
                "description": "Whether the pod is locked (prevents stopping or resetting)",
                "examples": [
                  false
                ]
              },
              "globalNetworking": {
                "$ref": "#/components/schemas/PodGlobalNetworking"
              },
              "runtime": {
                "description": "Live utilization metrics. Null when the pod is not RUNNING.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PodRuntime"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              },
              "startedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              }
            }
          }
        ]
      },
      "CreatePodRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "name"
            ],
            "description": "Request body for creating a pod. Exactly one of `gpu` or `cpu`\nmust be set — enforced at the handler layer. For CPU pods, memory\nis derived by the API from the selected flavor's RAM multiplier;\nclients provide only CPU flavor and vCPU count. CPU pods support\ncontainer disk and network volumes only; `mounts.persistent` is\ninvalid when `cpu` is set.\n\n`image` is required unless `templateId` is set.\n",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "examples": [
                  "my-training-pod"
                ]
              },
              "cloud": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Cloud"
                  }
                ],
                "default": "SECURE",
                "description": "Cloud tier. Defaults to `SECURE` when omitted."
              },
              "cpu": {
                "$ref": "#/components/schemas/CreateCpuConfig"
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty\narray to let the scheduler choose.\n",
                "examples": [
                  [
                    "US-TX-3"
                  ]
                ]
              },
              "globalNetworking": {
                "type": "boolean",
                "default": false,
                "description": "Enable global networking, giving the pod a private IP reachable across data centers. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers.",
                "examples": [
                  false
                ]
              },
              "gpu": {
                "$ref": "#/components/schemas/CreateGpuConfig"
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "startJupyter": {
                "type": "boolean",
                "default": false,
                "description": "Create-time flag telling the provisioner to start JupyterLab:\ninjects a generated `JUPYTER_PASSWORD` environment variable,\nunless the request already sets one. Only images that honor\nthe convention start Jupyter from it (RunPod official images\ndo); expose `8888/http` in `ports` to reach it.\n\nNot part of the pod's readable config — never returned by\nGET and not changeable by PATCH.\n",
                "examples": [
                  true
                ]
              },
              "startSsh": {
                "type": "boolean",
                "default": false,
                "description": "Create-time flag telling the provisioner to set up SSH\naccess: injects a `PUBLIC_KEY` environment variable carrying\nyour account's registered SSH public keys, unless the request\nalready sets one. **Requires registered keys** (`PUT\n/v2/account/ssh-keys`) — with none registered the flag does\nnothing and the pod has no SSH access. Only images that honor\nthe convention start sshd from it (all RunPod official images\ndo). Connect using the pod's `ssh` block; the `ssh.direct`\nvariant additionally needs a `22/tcp` entry in `ports`.\n\nNot part of the pod's readable config — never returned by\nGET and not changeable by PATCH.\n",
                "examples": [
                  true
                ]
              },
              "templateId": {
                "type": "string",
                "minLength": 1,
                "description": "ID of a pod template to base this pod on. The template is\nresolved at create time into the same container settings you\ncould otherwise spread into this body (image, args, disk,\nports, env, registry, persistent mount, startSsh,\nstartJupyter, allowedCudaVersions); explicit body fields\noverride the template's, except `env`, which is merged per\nkey with body values winning. Sending either CUDA field\n(`gpu.allowedCudaVersions` or `gpu.minCudaVersion`) replaces\nthe template's CUDA constraint entirely, and CPU pods ignore\nit (like the persistent mount). The template is a one-time\nsource of settings: later template edits do not affect the\npod, and the created pod does not retain a link to the\ntemplate (`template` stays null). The template may be one\nof your own or a public catalog template — see\n`GET /v2/catalog/templates` (unknown or inaccessible ID →\n404) — and must not be a serverless template (→ 422). CPU\npods do not inherit a template's persistent mount.\n",
                "examples": [
                  "30zmvf89kd"
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false,
        "if": {
          "not": {
            "required": [
              "templateId"
            ]
          }
        },
        "then": {
          "required": [
            "image"
          ]
        }
      },
      "UpdatePodRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "properties": {
              "globalNetworking": {
                "type": "boolean",
                "description": "Enable (true) or disable (false) global networking. Takes effect on the next pod start/restart, not live. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers."
              },
              "locked": {
                "type": "boolean",
                "description": "Lock the pod (true) or unlock it (false). Locked pods cannot be stopped or reset."
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "name": {
                "type": "string",
                "minLength": 1
              },
              "templateId": {
                "type": "string",
                "description": "ID of a pod template whose container settings are applied as\nif they were provided in this PATCH body (image, args, disk,\nports, env, registry — mounts are not applied on update).\nExplicit body fields override the template's; `env` merges\ntemplate and body per key (body wins) and, per PATCH\nsemantics, replaces the pod's env. One-time application —\nno link to the template is retained. Must be one of your\ntemplates or a public template (unknown or inaccessible ID\n→ 404); must not be a serverless template (→ 422).\n",
                "examples": [
                  "30zmvf89kd"
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "PodActionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "$ref": "#/components/schemas/PodAction"
          }
        }
      },
      "ListPodsResponse": {
        "type": "object",
        "required": [
          "pods"
        ],
        "properties": {
          "pods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pod"
            }
          }
        }
      },
      "ClusterType": {
        "type": "string",
        "description": "Cluster type. TRAINING is the generic distributed-training cluster; SLURM provisions a managed Slurm controller/compute topology; RAY provisions a managed Ray head/worker topology; APPLICATION is a general multi-node application cluster.",
        "enum": [
          "APPLICATION",
          "TRAINING",
          "SLURM",
          "RAY"
        ],
        "examples": [
          "TRAINING"
        ]
      },
      "ClusterCompute": {
        "type": "object",
        "additionalProperties": false,
        "description": "The homogeneous compute shape of a cluster. Every pod in the cluster is identical: `podCount` pods, each with `gpuCountPerPod` GPUs of type `gpuTypeId`. Total GPUs = `podCount` * `gpuCountPerPod`.",
        "required": [
          "gpuTypeId",
          "gpuCountPerPod",
          "podCount"
        ],
        "properties": {
          "gpuTypeId": {
            "type": "string",
            "minLength": 1,
            "description": "GPU type for every pod in the cluster, as returned by GET /v2/catalog/gpus.",
            "examples": [
              "NVIDIA H100 80GB HBM3"
            ]
          },
          "gpuCountPerPod": {
            "type": "integer",
            "minimum": 1,
            "description": "Number of GPUs on each pod. Bounded above by the GPU type's per-cloud maximum (GpuType.maxCount); the upstream rejects values beyond it.",
            "examples": [
              8
            ]
          },
          "podCount": {
            "type": "integer",
            "minimum": 2,
            "maximum": 250,
            "description": "Number of pods (nodes) in the cluster.",
            "examples": [
              4
            ]
          }
        }
      },
      "PodClusterRole": {
        "type": "string",
        "description": "A cluster member's role. Assigned for SLURM and RAY clusters; omitted for TRAINING/APPLICATION members.",
        "enum": [
          "SLURM_CONTROLLER",
          "SLURM_COMPUTE",
          "RAY_HEAD",
          "RAY_WORKER"
        ]
      },
      "PodCluster": {
        "type": "object",
        "additionalProperties": false,
        "description": "A pod's membership in a cluster.",
        "required": [
          "id",
          "rank"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "ID of the cluster this pod belongs to.",
            "examples": [
              "cluster_abc123"
            ]
          },
          "rank": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The pod's node rank within the cluster (NODE_RANK), or null until the index is assigned during provisioning. Rank 0 is the cluster's entry node (`Cluster.primary`); for SLURM it is the controller.",
            "examples": [
              0
            ]
          },
          "role": {
[...]
