{
  "openapi": "3.1.0",
  "info": {
    "title": "Runpod REST API",
    "version": "2.0.0",
    "description": "Runpod public REST API — v2"
  },
  "servers": [
    {
      "url": "https://api.runpod.io",
      "description": "Runpod API v2 production server"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Pods",
      "description": "GPU and CPU pod lifecycle, configuration, actions, and log streaming."
    },
    {
      "name": "Serverless",
      "description": "Serverless endpoint lifecycle, worker visibility, releases, and worker log streaming."
    },
    {
      "name": "Templates",
      "description": "Reusable pod and endpoint configuration templates."
    },
    {
      "name": "Network Volumes",
      "description": "Persistent network storage volumes for workloads."
    },
    {
      "name": "Registries",
      "description": "Container registry credentials used to pull private images."
    },
    {
      "name": "Catalog",
      "description": "Available GPU, CPU, and data center catalog metadata."
    },
    {
      "name": "Billing",
      "description": "Billing history and usage cost records across resource types."
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "Runpod API Key",
        "description": "Runpod API key authentication. Generate an API key in the Runpod console and send it in the `Authorization` header as `Bearer <api_key>`. Keys are scoped to the permissions granted when created; requests may return `403` when a valid key lacks access to the requested resource or action.\n"
      }
    },
    "responses": {
      "UnauthorizedError": {
        "description": "Authentication failed because the bearer token is missing, malformed, expired, or invalid.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "missingBearerToken": {
                "summary": "Missing bearer token",
                "value": {
                  "title": "Unauthorized",
                  "status": 401,
                  "detail": "missing bearer token"
                }
              }
            }
          }
        }
      },
      "ForbiddenError": {
        "description": "The bearer token is valid, but it does not grant access to the requested resource or action.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "insufficientAccess": {
                "summary": "Insufficient access",
                "value": {
                  "title": "Forbidden",
                  "status": 403,
                  "detail": "access denied"
                }
              }
            }
          }
        }
      },
      "BadRequestError": {
        "description": "The request could not be processed because it is malformed or conflicts with request rules.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "badRequest": {
                "summary": "Bad request",
                "value": {
                  "title": "Bad Request",
                  "status": 400,
                  "detail": "request could not be processed"
                }
              }
            }
          }
        }
      },
      "NotFoundError": {
        "description": "The requested resource was not found or is not accessible to the caller.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "notFound": {
                "summary": "Resource not found",
                "value": {
                  "title": "Not Found",
                  "status": 404,
                  "detail": "resource not found"
                }
              }
            }
          }
        }
      },
      "UnprocessableEntityError": {
        "description": "The request body or parameters were syntactically valid but failed validation.",
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "validationFailed": {
                "summary": "Validation failed",
                "value": {
                  "title": "Unprocessable Entity",
                  "status": 422,
                  "detail": "Request validation failed."
                }
              }
            }
          }
        }
      },
      "MethodNotAllowedError": {
        "description": "The request method is not supported for the target path.",
        "headers": {
          "Allow": {
            "description": "Comma-separated methods supported by the target path.",
            "schema": {
              "type": "string"
            },
            "example": "GET, POST"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "methodNotAllowed": {
                "summary": "Method not allowed",
                "value": {
                  "title": "Method Not Allowed",
                  "status": 405,
                  "detail": "The requested method is not allowed for this path."
                }
              }
            }
          }
        }
      },
      "TooManyRequestsError": {
        "description": "The caller exceeded its per-user rate limit. The response identifies the window that was exceeded and how long to wait. The `RateLimit` and `RateLimit-Policy` headers (per the IETF ratelimit-headers draft) also accompany successful responses, so clients can track quota before a 429.\n",
        "headers": {
          "Retry-After": {
            "description": "Seconds to wait before retrying, per the exceeded window.",
            "schema": {
              "type": "integer"
            },
            "example": 12
          },
          "RateLimit": {
            "description": "Live per-window state as a structured-field list — one member per window (`minute`, `hour`, `day`) with remaining count `r` and seconds-until-reset `t`.\n",
            "schema": {
              "type": "string"
            },
            "example": "\"minute\";r=0;t=12, \"hour\";r=2800;t=1812, \"day\";r=49500;t=45012"
          },
          "RateLimit-Policy": {
            "description": "Static quota policy as a structured-field list — one member per window with quota `q` and window length `w` (seconds).\n",
            "schema": {
              "type": "string"
            },
            "example": "\"minute\";q=60;w=60, \"hour\";q=3000;w=3600, \"day\";q=50000;w=86400"
          }
        },
        "content": {
          "application/problem+json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            },
            "examples": {
              "rateLimited": {
                "summary": "Rate limit exceeded",
                "value": {
                  "title": "Too Many Requests",
                  "status": 429,
                  "detail": "rate limit exceeded for the minute window"
                }
              }
            }
          }
        }
      }
    },
    "parameters": {
      "BillingStartTime": {
        "name": "startTime",
        "in": "query",
        "required": false,
        "description": "Start of the billing period (RFC 3339). Defaults to 30 days ago. Snapped down to the start of its bucketSize bucket so the window aligns with the returned records; provide a boundary-aligned value (e.g. midnight for bucketSize=day) to avoid widening.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2026-05-01T00:00:00Z"
      },
      "BillingEndTime": {
        "name": "endTime",
        "in": "query",
        "required": false,
        "description": "End of the billing period (RFC 3339), exclusive. Defaults to now. Snapped up to the end of the bucketSize bucket it lands in (unless already on a boundary) so the window aligns with the returned records.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        },
        "example": "2026-06-01T00:00:00Z"
      },
      "BillingBucketSize": {
        "name": "bucketSize",
        "in": "query",
        "required": false,
        "description": "Length of each billing time bucket. Defaults to day.",
        "schema": {
          "$ref": "#/components/schemas/BillingBucketSize"
        }
      },
      "BillingLastN": {
        "name": "lastN",
        "in": "query",
        "required": false,
        "description": "Return the last N buckets of bucketSize, ending with the current (in-progress) bucket — e.g. lastN=100 with bucketSize=day is \"last 100 days\". The resolved window is aligned to bucket boundaries: startTime is the start of the earliest bucket (e.g. midnight of the earliest day) and endTime is the end of the current bucket. Mutually exclusive with startTime/endTime; provide one or the other, not both.\n",
        "schema": {
          "type": "integer",
          "minimum": 1
        },
        "example": 30
      },
      "CatalogIncludeParam": {
        "name": "include",
        "in": "query",
        "required": false,
        "description": "Comma-separated optional expansions. Supported value today: AVAILABILITY. This may expand with more include values in the future.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "maxItems": 1,
          "items": {
            "$ref": "#/components/schemas/CatalogInclude"
          }
        },
        "example": [
          "AVAILABILITY"
        ]
      },
      "GpuProductFilter": {
        "name": "product",
        "in": "query",
        "required": false,
        "description": "Comma-separated availability product contexts. Supported values: POD, CLUSTER, SERVERLESS. Valid only with include=AVAILABILITY. Upstream default when omitted: POD.",
        "style": "form",
        "explode": false,
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/Product"
          }
        },
        "example": [
          "POD",
          "SERVERLESS"
        ]
      },
      "GpuCountFilter": {
        "name": "count",
        "in": "query",
        "required": false,
        "description": "GPU count for availability and lowest-price calculations. Valid only with include=AVAILABILITY. Defaults to 1.",
        "schema": {
          "type": "integer",
          "minimum": 1,
          "default": 1
        },
        "example": 2
      },
      "GpuCloudFilter": {
        "name": "cloud",
        "in": "query",
        "required": false,
        "description": "Cloud type for availability and lowest-price calculations. Valid only with include=AVAILABILITY. Supported values: SECURE, COMMUNITY. Upstream default when omitted: SECURE.",
        "schema": {
          "$ref": "#/components/schemas/GpuCloudFilter"
        }
      },
      "MinCudaVersionFilter": {
        "name": "minCudaVersion",
        "in": "query",
        "required": false,
        "description": "Minimum CUDA version for availability and lowest-price calculations. Valid only with include=AVAILABILITY. Format: integer major or major.minor, e.g. 12 or 12.1.",
        "schema": {
          "type": "string"
        },
        "example": "12.1"
      },
      "CpuProductFilter": {
        "name": "product",
        "in": "query",
        "required": false,
        "description": "Comma-separated availability product context. Valid only with include=AVAILABILITY. Supported values for CPUs: POD, SERVERLESS. Defaults to POD when omitted.",
        "schema": {
          "type": "array",
          "items": {
            "$ref": "#/components/schemas/CpuProduct"
          },
          "example": [
            "POD",
            "SERVERLESS"
          ]
        }
      },
      "CpuVCPUCountFilter": {
        "name": "vcpuCount",
        "in": "query",
        "required": false,
        "description": "Availability vCPU count. Valid only with include=AVAILABILITY. Must be a power of two.",
        "schema": {
          "type": "integer",
          "minimum": 2
        },
        "example": 4
      },
      "LogSourceParam": {
        "name": "source",
        "in": "query",
        "required": false,
        "description": "Log source to stream. Omit to include both container and system logs.",
        "schema": {
          "$ref": "#/components/schemas/LogSource"
        }
      },
      "LogTail": {
        "name": "tail",
        "in": "query",
        "required": false,
        "description": "Number of historical lines to backfill before streaming. Defaults to\n100 when omitted; set `0` to stream live with no backfill. Maximum 5000.\nIgnored when `since` or `Last-Event-ID` is provided — the resume cursor\ndrives the backfill instead.\n",
        "schema": {
          "type": "integer",
          "minimum": 0,
          "maximum": 5000,
          "default": 100
        }
      },
      "LogSince": {
        "name": "since",
        "in": "query",
        "required": false,
        "description": "RFC3339 timestamp to resume from. Ignored when `Last-Event-ID` is\nprovided. When set, the stream resumes from this point and `tail` is\nignored.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      },
      "LogLastEventID": {
        "name": "Last-Event-ID",
        "in": "header",
        "required": false,
        "description": "SSE reconnect cursor — a timestamp emitted by this endpoint. Takes\nprecedence over `since` and `tail`: when present, the stream resumes\nfrom this point. Sent automatically by EventSource on reconnect.\n",
        "schema": {
          "type": "string",
          "format": "date-time"
        }
      }
    },
    "schemas": {
      "ContainerConfig": {
        "type": "object",
        "description": "Reusable container configuration shared across templates, pods, and serverless endpoints. Adding a field here automatically propagates to all three resources.\n",
        "properties": {
          "image": {
            "type": "string",
            "description": "Docker image reference",
            "examples": [
              "runpod/pytorch:2.8.0-py3.11-cuda12.8.1"
            ]
          },
          "args": {
            "type": "string",
            "description": "Arguments passed to the container entrypoint",
            "examples": [
              ""
            ]
          },
          "disk": {
            "type": "integer",
            "minimum": 1,
            "description": "Container disk in GB (ephemeral, wiped on restart)",
            "examples": [
              50
            ]
          },
          "ports": {
            "type": "array",
            "description": "Exposed ports, formatted as port/protocol",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "8888/http",
                "22/tcp"
              ]
            ]
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Environment variables as key-value pairs",
            "examples": [
              {
                "JUPYTER_PASSWORD": "hunter2"
              }
            ]
          },
          "registry": {
            "type": [
              "string",
              "null"
            ],
            "description": "Container registry credential ID (for private images)",
            "examples": [
              null
            ]
          }
        }
      },
      "Mounts": {
        "type": "object",
        "additionalProperties": false,
        "description": "Storage mounts attached to a pod. At-most-one of `persistent` or\n`network` may be set today (mutually exclusive, enforced at the\nhandler with 400 if both are present). The `network` field is an\narray for forward compatibility with eventual multi-network-volume\nsupport, but `maxItems` is 1 today.\n\nPATCH semantics:\n- Omitting `mounts` or sending `{}` leaves the existing mount\n  unchanged.\n- An explicit `network: []` is rejected with 400 (clearing mounts\n  is not supported).\n- Mount kind is fixed at create — a PATCH that introduces a kind\n  not present at create (persistent on a network pod, network on\n  a persistent pod, or any mount on a previously-mountless pod)\n  is rejected with 400.\n- The `volumeId` of a network mount is immutable; a PATCH that\n  names a different `volumeId` is rejected with 400.\n- Partial mounts are not supported — every mount entry must\n  include the full schema (`size` + `path` for persistent,\n  `volumeId` + `path` for network). Missing required fields → 422.\n",
        "properties": {
          "persistent": {
            "$ref": "#/components/schemas/PersistentMount"
          },
          "network": {
            "type": "array",
            "maxItems": 1,
            "items": {
              "$ref": "#/components/schemas/NetworkMount"
            }
          }
        }
      },
      "TemplateMounts": {
        "type": "object",
        "additionalProperties": false,
        "description": "Storage mounts attached to a template. Templates support only a\nsingle persistent mount today; any `network` property is rejected\nwith 422 by the schema validator.\n\nPATCH semantics: omitting `mounts` or sending `{}` leaves the\nexisting mount unchanged.\n",
        "properties": {
          "persistent": {
            "$ref": "#/components/schemas/PersistentMount"
          }
        }
      },
      "PersistentMount": {
        "type": "object",
        "required": [
          "size",
          "path"
        ],
        "additionalProperties": false,
        "description": "Host-local persistent storage. Pinned to the pod's host machine — data\ndoes not survive a host failure. Disallowed on CPU pods. Mutually\nexclusive with NetworkMount. Deprecated: prefer NetworkMount for any\ndata you cannot recreate.\n",
        "properties": {
          "size": {
            "type": "integer",
            "minimum": 10,
            "description": "Host-local persistent storage in GB. Upstream enforces a 10 GB floor.",
            "examples": [
              20
            ]
          },
          "path": {
            "type": "string",
            "description": "Mount path inside the container. May be changed via PATCH.",
            "examples": [
              "/workspace"
            ]
          }
        }
      },
      "NetworkMount": {
        "type": "object",
        "required": [
          "volumeId",
          "path"
        ],
        "additionalProperties": false,
        "description": "Reference to a NetworkVolume. Custom paths are honored at runtime on\nboth GPU and CPU pods. The underlying `volumeId` is immutable\npost-create; the mount `path` may be changed via PATCH.\n",
        "properties": {
          "volumeId": {
            "type": "string",
            "description": "ID of an existing NetworkVolume in the same data center as the pod.",
            "examples": [
              "vol_xyz"
            ]
          },
          "path": {
            "type": "string",
            "description": "Mount path inside the container. No default — must be specified explicitly.",
            "examples": [
              "/runpod-volume"
            ]
          }
        }
      },
      "GpuConfig": {
        "type": "object",
        "required": [
          "id"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "GPU type identifier",
            "examples": [
              "NVIDIA GeForce RTX 4090"
            ]
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "Number of GPUs",
            "examples": [
              1
            ]
          }
        }
      },
      "BaseCpuConfig": {
        "type": "object",
        "required": [
          "id",
          "vcpuCount"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "CPU flavor identifier, as returned by GET /v2/catalog/cpus.",
            "examples": [
              "cpu5c"
            ],
            "minLength": 1
          },
          "vcpuCount": {
            "type": "integer",
            "minimum": 2,
            "description": "Number of vCPUs. Must be valid for the selected CPU flavor and must be a power of two.",
            "examples": [
              4
            ]
          }
        }
      },
      "CreateCpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseCpuConfig"
          }
        ],
        "unevaluatedProperties": false
      },
      "CpuConfig": {
        "allOf": [
          {
            "$ref": "#/components/schemas/BaseCpuConfig"
          },
          {
            "type": "object",
            "required": [
              "memory"
            ],
            "properties": {
              "memory": {
                "type": "integer",
                "minimum": 1,
                "description": "Memory allocated to the pod in GB.",
                "examples": [
                  16
                ]
              }
            }
          }
        ]
      },
      "ScalerType": {
        "type": "string",
        "description": "Autoscaling strategy.\n- `QUEUE_DELAY`   — scale on seconds a request waits in queue\n- `REQUEST_COUNT` — scale on in-flight request count\n",
        "enum": [
          "QUEUE_DELAY",
          "REQUEST_COUNT"
        ]
      },
      "FlashBoot": {
        "type": "string",
        "description": "FlashBoot cold-start acceleration mode.\n- `OFF`                — disabled\n- `FLASHBOOT`          — enabled\n- `PRIORITY_FLASHBOOT` — enabled with priority capacity\n",
        "enum": [
          "OFF",
          "FLASHBOOT",
          "PRIORITY_FLASHBOOT"
        ]
      },
      "EndpointType": {
        "type": "string",
        "description": "Request-routing semantics for a modern serverless endpoint.\n- `QUEUE_BASED` — submit asynchronous or synchronous jobs through the managed queue.\n- `LOAD_BALANCING` — send requests directly to worker-defined HTTP paths.\n",
        "x-enum-varnames": [
          "EndpointTypeQueueBased",
          "EndpointTypeLoadBalancing"
        ],
        "enum": [
          "QUEUE_BASED",
          "LOAD_BALANCING"
        ]
      },
      "QueueBasedRequestUrls": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "run",
          "runSync"
        ],
        "properties": {
          "run": {
            "type": "string",
            "format": "uri",
            "description": "URL for asynchronously submitting a queued job.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/run"
            ]
          },
          "runSync": {
            "type": "string",
            "format": "uri",
            "description": "URL for synchronously submitting a queued job.",
            "examples": [
              "https://api.runpod.ai/v2/4m7x2k9q/runsync"
            ]
          }
        }
      },
      "LoadBalancingRequestUrls": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "base"
        ],
        "properties": {
          "base": {
            "type": "string",
            "format": "uri",
            "description": "Base URL for worker-defined HTTP and WebSocket paths.",
            "examples": [
              "https://4m7x2k9q.api.runpod.ai"
            ]
          }
        }
      },
      "EndpointRequestUrls": {
        "description": "Request submission URLs appropriate to the endpoint's top-level `type`.\nQueue-based endpoints provide `run` and `runSync`; load-balancing\nendpoints provide `base` because their paths are worker-defined.\n",
        "oneOf": [
          {
            "$ref": "#/components/schemas/QueueBasedRequestUrls"
          },
          {
            "$ref": "#/components/schemas/LoadBalancingRequestUrls"
          }
        ]
      },
      "EndpointGpuConfig": {
        "type": "object",
        "required": [
          "pools"
        ],
        "properties": {
          "pools": {
            "type": "array",
            "minItems": 1,
            "description": "Serverless GPU pool IDs (as returned by `GET /v2/catalog/gpus` in\n`pool`). Workers are placed on whichever listed pool has capacity.\n",
            "items": {
              "type": "string"
            },
            "examples": [
              [
                "ADA_24"
              ]
            ]
          },
          "count": {
            "type": "integer",
            "minimum": 1,
            "default": 1,
            "description": "GPUs per worker",
            "examples": [
              1
            ]
          }
        }
      },
      "Endpoint": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "id",
              "name",
              "workers",
              "scaling",
              "dataCenterIds",
              "networkVolumes",
              "timeout",
              "flashboot",
              "createdAt"
            ],
            "properties": {
              "id": {
                "type": "string",
                "examples": [
                  "ep_abc123"
                ]
              },
              "name": {
                "type": "string",
                "examples": [
                  "my-inference"
                ]
              },
              "type": {
                "$ref": "#/components/schemas/EndpointType"
              },
              "requestUrls": {
                "$ref": "#/components/schemas/EndpointRequestUrls"
              },
              "gpu": {
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/EndpointGpuConfig"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "cpu": {
                "description": "Read-only. Present for CPU serverless endpoints; CPU create/update is not yet supported.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/CpuConfig"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "workers": {
                "type": "object",
                "required": [
                  "min",
                  "max"
                ],
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 0,
                    "examples": [
                      0
                    ]
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 0,
                    "examples": [
                      5
                    ]
                  }
                }
              },
              "scaling": {
                "type": "object",
                "required": [
                  "type",
                  "value",
                  "idleTimeout"
                ],
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/ScalerType"
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.5,
                    "examples": [
                      4
                    ]
                  },
                  "idleTimeout": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Seconds before idle workers scale down",
                    "examples": [
                      5
                    ]
                  }
                }
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "examples": [
                  [
                    "US-TX-3"
                  ]
                ]
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "examples": [
                  [
                    "vol_abc"
                  ]
                ]
              },
              "timeout": {
                "type": "integer",
                "description": "Per-request execution timeout in milliseconds",
                "examples": [
                  300000
                ]
              },
              "flashboot": {
                "$ref": "#/components/schemas/FlashBoot"
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              }
            }
          }
        ]
      },
      "ListEndpointsResponse": {
        "type": "object",
        "required": [
          "endpoints"
        ],
        "properties": {
          "endpoints": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Endpoint"
            }
          }
        }
      },
      "WorkerStatus": {
        "type": "string",
        "description": "Derived worker state, reconciled from the worker pod's lifecycle status\nand the live job-queue view.\n- `RUNNING`      — actively processing a job\n- `IDLE`         — ready and polling for jobs\n- `INITIALIZING` — starting up, not yet ready\n- `THROTTLED`    — waiting on compute capacity\n- `UNHEALTHY`    — failing health checks\n",
        "x-enum-varnames": [
          "WorkerStatusRunning",
          "WorkerStatusIdle",
          "WorkerStatusInitializing",
          "WorkerStatusThrottled",
          "WorkerStatusUnhealthy"
        ],
        "enum": [
          "RUNNING",
          "IDLE",
          "INITIALIZING",
          "THROTTLED",
          "UNHEALTHY"
        ]
      },
      "Worker": {
        "type": "object",
        "required": [
          "id",
          "status",
          "gpuCount",
          "isStale"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "worker_abc"
            ]
          },
          "status": {
            "$ref": "#/components/schemas/WorkerStatus"
          },
          "isStale": {
            "type": "boolean",
            "description": "True when the worker is running an older endpoint configuration than\nthe current one (e.g. mid rolling-update). This is the authoritative\nflag: it is derived from `version` vs the response's `endpointVersion`,\nexcept on legacy endpoints (`endpointVersion` 1) where it falls back\nto a container-image comparison.\n",
            "examples": [
              false
            ]
          },
          "version": {
            "type": [
              "integer",
              "null"
            ],
            "description": "Endpoint configuration version this worker is running. Compare with\nthe response's `endpointVersion`. Null if unknown.\n",
            "examples": [
              4
            ]
          },
          "gpuCount": {
            "type": "integer",
            "minimum": 0,
            "description": "GPUs allocated to the worker.",
            "examples": [
              1
            ]
          },
          "image": {
            "type": [
              "string",
              "null"
            ],
            "description": "Container image the worker is running.",
            "examples": [
              "my-org/sdxl-worker:latest"
            ]
          },
          "uptimeSeconds": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0,
            "description": "Seconds the worker has been running. Null until the worker is placed and running.",
            "examples": [
              3600
            ]
          },
          "gpuTypeId": {
            "type": [
              "string",
              "null"
            ],
            "description": "GPU type the worker is placed on. Null until the worker is placed.",
            "examples": [
              "NVIDIA RTX 4090"
            ]
          },
          "dataCenterId": {
            "type": [
              "string",
              "null"
            ],
            "description": "Data center the worker is placed in. Null until the worker is placed.",
            "examples": [
              "US-TX-3"
            ]
          },
          "startedAt": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time",
            "description": "When the worker last started. Null if it has not started.",
            "examples": [
              "2026-03-26T00:00:00Z"
            ]
          }
        }
      },
      "WorkerSummary": {
        "type": "object",
        "description": "Histogram of the returned workers by status. The per-status counts are a\nroll-up of the `workers` array, so `running + idle + initializing +\nthrottled + unhealthy == total == len(workers)`.\n",
        "required": [
          "running",
          "idle",
          "initializing",
          "throttled",
          "unhealthy",
          "total"
        ],
        "properties": {
          "running": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers actively processing a job.",
            "examples": [
              2
            ]
          },
          "idle": {
            "type": "integer",
            "minimum": 0,
            "description": "Ready workers polling for jobs.",
            "examples": [
              1
            ]
          },
          "initializing": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers starting up, not yet ready.",
            "examples": [
              0
            ]
          },
          "throttled": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers waiting on compute capacity.",
            "examples": [
              0
            ]
          },
          "unhealthy": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers failing health checks.",
            "examples": [
              0
            ]
          },
          "total": {
            "type": "integer",
            "minimum": 0,
            "description": "All workers currently allocated to the endpoint.",
            "examples": [
              3
            ]
          }
        }
      },
      "ListEndpointWorkersResponse": {
        "type": "object",
        "required": [
          "workers",
          "summary"
        ],
        "properties": {
          "workers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Worker"
            }
          },
          "summary": {
            "$ref": "#/components/schemas/WorkerSummary"
          },
          "endpointVersion": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint's current configuration version. A worker whose\n`version` differs is running stale config (see `worker.isStale`).\nNull if unknown.\n",
            "examples": [
              4
            ]
          }
        }
      },
      "ReleaseSource": {
        "type": "string",
        "description": "What produced the release.\n- `GIT_BUILD` — a completed GitHub build (see `buildId`)\n- `MANUAL`    — a manual configuration change\n",
        "x-enum-varnames": [
          "ReleaseSourceGitBuild",
          "ReleaseSourceManual"
        ],
        "enum": [
          "GIT_BUILD",
          "MANUAL"
        ]
      },
      "ReleaseDiffEntry": {
        "type": "object",
        "required": [
          "field",
          "old",
          "new"
        ],
        "properties": {
          "field": {
            "type": "string",
            "description": "The changed configuration field. Top-level (e.g. `gpuCount`,\n`locations`) or template-scoped (e.g. `template.imageName`,\n`template.env`).\n",
            "examples": [
              "template.imageName"
            ]
          },
          "old": {
            "description": "Previous value, as raw JSON. Null when the field was added."
          },
          "new": {
            "description": "New value, as raw JSON. Null when the field was removed."
          }
        }
      },
      "Release": {
        "type": "object",
        "required": [
          "id",
          "source",
          "createdAt",
          "workerCount",
          "diff"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "rel_abc123"
            ]
          },
          "version": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint configuration version this release produced.",
            "examples": [
              4
            ]
          },
          "source": {
            "$ref": "#/components/schemas/ReleaseSource"
          },
          "buildId": {
            "type": [
              "string",
              "null"
            ],
            "description": "The GitHub build that produced this release. Set when `source` is\n`GIT_BUILD`; null for `MANUAL` releases. Fetch build detail/logs via\n`/v2/serverless/{id}/builds/{buildId}`.\n",
            "examples": [
              "build_abc123"
            ]
          },
          "createdByUserId": {
            "type": [
              "string",
              "null"
            ],
            "description": "ID of the user who created the release."
          },
          "workerCount": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers currently running this release's version.",
            "examples": [
              2
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "examples": [
              "2026-03-13T20:00:00Z"
            ]
          },
          "diff": {
            "type": "array",
            "description": "Configuration fields that changed in this release.",
            "items": {
              "$ref": "#/components/schemas/ReleaseDiffEntry"
            }
          }
        }
      },
      "RolloutSummary": {
        "type": "object",
        "required": [
          "inProgress",
          "workersOnLatest",
          "workersTotal",
          "percentOnLatest"
        ],
        "properties": {
          "inProgress": {
            "type": "boolean",
            "description": "True while any worker is still running an older version.",
            "examples": [
              true
            ]
          },
          "workersOnLatest": {
            "type": "integer",
            "minimum": 0,
            "description": "Workers running the endpoint's current version.",
            "examples": [
              2
            ]
          },
          "workersTotal": {
            "type": "integer",
            "minimum": 0,
            "description": "All workers currently allocated to the endpoint.",
            "examples": [
              3
            ]
          },
          "percentOnLatest": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage of workers on the current version (0 when there are no workers).",
            "examples": [
              67
            ]
          }
        }
      },
      "ListEndpointReleasesResponse": {
        "type": "object",
        "required": [
          "rollout",
          "releases"
        ],
        "properties": {
          "endpointVersion": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The endpoint's current configuration version. Null if unknown.",
            "examples": [
              4
            ]
          },
          "rollout": {
            "$ref": "#/components/schemas/RolloutSummary"
          },
          "releases": {
            "type": "array",
            "description": "Release history, newest first.",
            "items": {
              "$ref": "#/components/schemas/Release"
            }
          }
        }
      },
      "CreateEndpointRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "name",
              "image",
              "gpu"
            ],
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "examples": [
                  "my-inference"
                ]
              },
              "gpu": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EndpointGpuConfig"
                  }
                ],
                "unevaluatedProperties": false
              },
              "workers": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 0
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 3
                  }
                }
              },
              "scaling": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/ScalerType"
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.5,
                    "default": 4
                  },
                  "idleTimeout": {
                    "type": "integer",
                    "minimum": 0,
                    "default": 5
                  }
                }
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty array to let the scheduler choose."
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "timeout": {
                "type": "integer",
                "default": 300000
              },
              "flashboot": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/FlashBoot"
                  }
                ],
                "default": "OFF"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdateEndpointRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "description": "Only provided fields are changed.",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "gpu": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/EndpointGpuConfig"
                  }
                ],
                "unevaluatedProperties": false
              },
              "workers": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "min": {
                    "type": "integer",
                    "minimum": 0
                  },
                  "max": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              },
              "scaling": {
                "type": "object",
                "additionalProperties": false,
                "properties": {
                  "type": {
                    "$ref": "#/components/schemas/ScalerType"
                  },
                  "value": {
                    "type": "number",
                    "format": "float",
                    "minimum": 0.5
                  },
                  "idleTimeout": {
                    "type": "integer",
                    "minimum": 0
                  }
                }
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty array to let the scheduler choose."
              },
              "networkVolumes": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "timeout": {
                "type": "integer"
              },
              "flashboot": {
                "$ref": "#/components/schemas/FlashBoot"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "Utilization": {
        "type": "object",
        "description": "Single-value utilization percentage (0–100). Shared by `cpu` and `memory`.",
        "properties": {
          "util": {
            "type": "integer",
            "examples": [
              45
            ]
          }
        }
      },
      "PodGpuUtilization": {
        "type": "object",
        "description": "Per-GPU utilization metrics.",
        "properties": {
          "util": {
            "type": "integer",
            "examples": [
              94
            ]
          },
          "memoryUtil": {
            "type": "integer",
            "examples": [
              78
            ]
          }
        }
      },
      "PodRuntimePort": {
        "type": "object",
        "description": "Live port mapping for a running pod.",
        "properties": {
          "private": {
            "type": "integer",
            "examples": [
              8888
            ]
          },
          "public": {
            "type": [
              "integer",
              "null"
            ],
            "examples": [
              43210
            ]
          },
          "type": {
            "type": "string",
            "examples": [
              "http"
            ]
          },
          "ip": {
            "type": [
              "string",
              "null"
            ],
            "examples": [
              "45.23.12.1"
            ]
          }
        }
      },
      "PodRuntime": {
        "type": "object",
        "description": "Live utilization metrics for a running pod.",
        "properties": {
          "uptime": {
            "type": "integer",
            "description": "Seconds since the container started",
            "examples": [
              3600
            ]
          },
          "gpus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodGpuUtilization"
            }
          },
          "cpu": {
            "$ref": "#/components/schemas/Utilization"
          },
          "memory": {
            "$ref": "#/components/schemas/Utilization"
          },
          "ports": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PodRuntimePort"
            }
          }
        }
      },
      "PodStatus": {
        "type": "string",
        "description": "Lifecycle status of a pod.\n- `PROVISIONING` — pod is being allocated\n- `STARTING`     — container is starting\n- `RUNNING`      — container is healthy\n- `EXITED`       — container exited (stopped)\n- `ERROR`        — container is in an unrecoverable error state\n- `TERMINATED`   — pod has been permanently deleted\n",
        "enum": [
          "PROVISIONING",
          "STARTING",
          "RUNNING",
          "EXITED",
          "ERROR",
          "TERMINATED"
        ]
      },
      "PodAction": {
        "type": "string",
        "description": "State transition to trigger on a pod.",
        "enum": [
          "start",
          "stop",
          "restart",
          "terminate"
        ]
      },
      "LogSource": {
        "type": "string",
        "description": "Log source to include in a log stream.\n- `container` — container stdout/stderr log stream\n- `system`    — host lifecycle/userlogs stream\n",
        "x-enum-varnames": [
          "LogSourceContainer",
          "LogSourceSystem"
        ],
        "enum": [
          "container",
          "system"
        ]
      },
      "Cloud": {
        "type": "string",
        "description": "Cloud tier.\n- `SECURE`    — Runpod-owned datacenter hardware\n- `COMMUNITY` — community-hosted hardware\n",
        "enum": [
          "SECURE",
          "COMMUNITY"
        ]
      },
      "TemplateCategory": {
        "type": "string",
        "description": "Controls how the template is grouped and filtered in the Runpod console.\nIt does not affect hardware selection, scheduling, or billing.\n- `CPU`    — CPU-only workloads\n- `NVIDIA` — NVIDIA GPU workloads\n- `AMD`    — AMD GPU workloads\n",
        "enum": [
          "CPU",
          "NVIDIA",
          "AMD"
        ]
      },
      "PodGlobalNetworking": {
        "type": "object",
        "required": [
          "enabled"
        ],
        "properties": {
          "enabled": {
            "type": "boolean",
            "description": "Whether global networking is enabled, giving the pod a private IP reachable across data centers. Derived from whether the pod has an assigned global-network address.",
            "examples": [
              true
            ]
          },
          "ip": {
            "type": "string",
            "description": "The pod's assigned global-networking IP. Present only when enabled.",
            "examples": [
              "10.65.1.42"
            ]
          },
          "internalDns": {
            "type": "string",
            "description": "Internal DNS name (`<podId>.runpod.internal`), reachable from other globally-networked pods in the same account. Present only when enabled.",
            "examples": [
              "gfj8b292vyg08g.runpod.internal"
            ]
          }
        }
      },
      "Pod": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "id",
              "name",
              "status",
              "actions",
              "image",
              "args",
              "disk",
              "mounts",
              "ports",
              "env",
              "registry",
              "cloud",
              "dataCenterId",
              "template",
              "cost",
              "locked",
              "runtime",
              "createdAt",
              "startedAt",
              "globalNetworking"
            ],
            "properties": {
              "id": {
                "type": "string",
                "examples": [
                  "pod_abc123"
                ]
              },
              "name": {
                "type": "string",
                "examples": [
                  "my-training-pod"
                ]
              },
              "status": {
                "$ref": "#/components/schemas/PodStatus"
              },
              "actions": {
                "type": "array",
                "description": "Valid state transitions for the current status.",
                "items": {
                  "$ref": "#/components/schemas/PodAction"
                }
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "gpu": {
                "description": "Present for GPU pods; omitted from CPU pods.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GpuConfig"
                  }
                ]
              },
              "cpu": {
                "description": "Present for CPU pods; omitted from GPU pods.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CpuConfig"
                  }
                ]
              },
              "cloud": {
                "$ref": "#/components/schemas/Cloud"
              },
              "dataCenterId": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "Data center where the pod is running (assigned by scheduler)",
                "examples": [
                  "US-TX-3"
                ]
              },
              "template": {
                "type": [
                  "string",
                  "null"
                ],
                "description": "ID of the template this pod was created from",
                "examples": [
                  null
                ]
              },
              "cost": {
                "type": "number",
                "format": "float",
                "description": "Current cost in USD per hour (0.0 when EXITED or TERMINATED)",
                "examples": [
                  0.35
                ]
              },
              "locked": {
                "type": "boolean",
                "description": "Whether the pod is locked (prevents stopping or resetting)",
                "examples": [
                  false
                ]
              },
              "globalNetworking": {
                "$ref": "#/components/schemas/PodGlobalNetworking"
              },
              "runtime": {
                "description": "Live utilization metrics. Null when the pod is not RUNNING.",
                "anyOf": [
                  {
                    "$ref": "#/components/schemas/PodRuntime"
                  },
                  {
                    "type": "null"
                  }
                ]
              },
              "createdAt": {
                "type": "string",
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              },
              "startedAt": {
                "type": [
                  "string",
                  "null"
                ],
                "format": "date-time",
                "examples": [
                  "2026-03-13T20:00:00Z"
                ]
              }
            }
          }
        ]
      },
      "CreatePodRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "name",
              "image"
            ],
            "description": "Request body for creating a pod. Exactly one of `gpu` or `cpu`\nmust be set — enforced at the handler layer. For CPU pods, memory\nis derived by the API from the selected flavor's RAM multiplier;\nclients provide only CPU flavor and vCPU count. CPU pods support\ncontainer disk and network volumes only; `mounts.persistent` is\ninvalid when `cpu` is set.\n",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "examples": [
                  "my-training-pod"
                ]
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "gpu": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GpuConfig"
                  }
                ],
                "unevaluatedProperties": false
              },
              "cpu": {
                "$ref": "#/components/schemas/CreateCpuConfig"
              },
              "cloud": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/Cloud"
                  }
                ],
                "default": "SECURE",
                "description": "Cloud tier. Defaults to `SECURE` when omitted."
              },
              "dataCenterIds": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Preferred data centers for placement. Omit or pass an empty\narray to let the scheduler choose.\n",
                "examples": [
                  [
                    "US-TX-3"
                  ]
                ]
              },
              "globalNetworking": {
                "type": "boolean",
                "default": false,
                "description": "Enable global networking, giving the pod a private IP reachable across data centers. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers.",
                "examples": [
                  false
                ]
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdatePodRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "mounts": {
                "$ref": "#/components/schemas/Mounts"
              },
              "locked": {
                "type": "boolean",
                "description": "Lock the pod (true) or unlock it (false). Locked pods cannot be stopped or reset."
              },
              "globalNetworking": {
                "type": "boolean",
                "description": "Enable (true) or disable (false) global networking. Takes effect on the next pod start/restart, not live. Requires an NVIDIA GPU and a global-networking-enabled data center (both enforced upstream). See `GET /v2/catalog/datacenters` (`globalNetwork`) for eligible data centers."
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "PodActionRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "action"
        ],
        "properties": {
          "action": {
            "$ref": "#/components/schemas/PodAction"
          }
        }
      },
      "ListPodsResponse": {
        "type": "object",
        "required": [
          "pods"
        ],
        "properties": {
          "pods": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Pod"
            }
          }
        }
      },
      "Template": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "id",
              "name",
              "image",
              "args",
              "disk",
              "mounts",
              "ports",
              "env",
              "registry",
              "serverless",
              "public",
              "category"
            ],
            "properties": {
              "id": {
                "type": "string",
                "examples": [
                  "tpl_abc"
                ]
              },
              "name": {
                "type": "string",
                "examples": [
                  "My PyTorch Template"
                ]
              },
              "mounts": {
                "$ref": "#/components/schemas/TemplateMounts"
              },
              "serverless": {
                "type": "boolean",
                "description": "Whether this template is for serverless workers (true) or pods (false)",
                "examples": [
                  false
                ]
              },
              "public": {
                "type": "boolean",
                "description": "Whether this template is visible to other Runpod users",
                "examples": [
                  false
                ]
              },
              "category": {
                "$ref": "#/components/schemas/TemplateCategory"
              }
            }
          }
        ]
      },
      "CreateTemplateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "required": [
              "name",
              "image"
            ],
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1,
                "examples": [
                  "My PyTorch Template"
                ]
              },
              "mounts": {
                "$ref": "#/components/schemas/TemplateMounts"
              },
              "serverless": {
                "type": "boolean",
                "default": false
              },
              "public": {
                "type": "boolean",
                "default": false
              },
              "category": {
                "description": "Optional. Defaults to `NVIDIA` when omitted.",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TemplateCategory"
                  }
                ],
                "default": "NVIDIA"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdateTemplateRequest": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ContainerConfig"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "minLength": 1
              },
              "mounts": {
                "$ref": "#/components/schemas/TemplateMounts"
              },
              "serverless": {
                "type": "boolean"
              },
              "public": {
                "type": "boolean"
              },
              "category": {
                "$ref": "#/components/schemas/TemplateCategory"
              }
            }
          }
        ],
        "unevaluatedProperties": false
      },
      "ListTemplatesResponse": {
        "type": "object",
        "required": [
          "templates"
        ],
        "properties": {
          "templates": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Template"
            }
          }
        }
      },
      "NetworkVolume": {
        "type": "object",
        "required": [
          "id",
          "name",
          "size",
          "dataCenter",
          "type"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique network volume identifier",
            "examples": [
              "agv6w2qcg7"
            ]
          },
          "name": {
            "type": "string",
            "description": "Human-readable name (not required to be unique)",
            "examples": [
              "my-dataset"
            ]
          },
          "size": {
            "type": "integer",
            "minimum": 10,
            "maximum": 4096,
            "description": "Allocated storage in GB",
            "examples": [
              50
            ]
          },
          "dataCenter": {
            "type": "string",
            "description": "Data center location; immutable after creation",
            "examples": [
              "EU-RO-1"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VolumeType"
              }
            ],
            "description": "Storage tier of this volume. Set at creation and immutable."
          }
        }
      },
      "CreateNetworkVolumeRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "size",
          "dataCenter"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "Human-readable name",
            "examples": [
              "my-dataset"
            ]
          },
          "size": {
            "type": "integer",
            "minimum": 10,
            "maximum": 4096,
            "description": "Storage to allocate in GB",
            "examples": [
              50
            ]
          },
          "dataCenter": {
            "type": "string",
            "minLength": 1,
            "description": "Data center in which to create the volume",
            "examples": [
              "EU-RO-1"
            ]
          },
          "type": {
            "allOf": [
              {
                "$ref": "#/components/schemas/VolumeType"
              }
            ],
            "description": "Storage tier for the volume. Optional. When omitted, the volume is\nprovisioned using the requested data center's default (primary)\nstorage tier. HIGH_PERFORMANCE provisions a high-performance (HPS)\nvolume; STANDARD provisions a standard volume. A volume's tier is\nimmutable after creation.\n"
          }
        }
      },
      "UpdateNetworkVolumeRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "description": "Only the provided fields are updated. At least one field must be\npresent; an empty body is rejected.\n",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "description": "New human-readable name",
            "examples": [
              "renamed-volume"
            ]
          },
          "size": {
            "type": "integer",
            "minimum": 10,
            "maximum": 4096,
            "description": "New size in GB. Must be greater than or equal to the current size —\nnetwork volume storage cannot be reduced.\n",
            "examples": [
              100
            ]
          }
        }
      },
      "ListNetworkVolumesResponse": {
        "type": "object",
        "required": [
          "networkVolumes"
        ],
        "properties": {
          "networkVolumes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/NetworkVolume"
            }
          }
        }
      },
      "Registry": {
        "type": "object",
        "required": [
          "id",
          "name"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "reg_abc"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "my-private-registry"
            ]
          }
        }
      },
      "CreateRegistryRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "name",
          "username",
          "password"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "examples": [
              "my-private-registry"
            ]
          },
          "username": {
            "type": "string",
            "minLength": 1,
            "description": "Registry username (write-only, not returned in responses)"
          },
          "password": {
            "type": "string",
            "minLength": 1,
            "description": "Registry password (write-only, not returned in responses)"
          }
        }
      },
      "ListRegistriesResponse": {
        "type": "object",
        "required": [
          "registries"
        ],
        "properties": {
          "registries": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Registry"
            }
          }
        }
      },
      "EcrDelegation": {
        "type": "object",
        "required": [
          "id",
          "delegatorUserId",
          "awsUser",
          "repository",
          "tag",
          "awsRegion",
          "createdAt"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Delegation identifier",
            "examples": [
              "deleg_abc123"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the delegation",
            "examples": [
              "my-delegation"
            ]
          },
          "delegatorUserId": {
            "type": "string",
            "description": "User ID that created the delegation",
            "examples": [
              "user_xyz"
            ]
          },
          "awsUser": {
            "type": "string",
            "description": "AWS user/role being delegated",
            "examples": [
              "123456789"
            ]
          },
          "repository": {
            "type": "string",
            "description": "ECR repository name",
            "examples": [
              "runpod/deployment"
            ]
          },
          "tag": {
            "type": "string",
            "description": "ECR image tag",
            "examples": [
              "latest"
            ]
          },
          "awsRegion": {
            "type": "string",
            "description": "AWS region",
            "examples": [
              "us-east-2"
            ]
          },
          "dockerRegistryUri": {
            "type": "string",
            "description": "Formatted ECR registry URI for Docker login",
            "examples": [
              "123456789.dkr.ecr.us-east-2.amazonaws.com"
            ]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time",
            "description": "When the delegation was created",
            "examples": [
              "2026-03-13T20:00:00Z"
            ]
          }
        }
      },
      "CreateDelegationRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": [
          "resource"
        ],
        "properties": {
          "resource": {
            "type": "string",
            "description": "ECR resource ARN",
            "examples": [
              "arn:aws:ecr:us-east-2:418399314813:repository/runpod/deployment"
            ]
          },
          "name": {
            "type": [
              "string",
              "null"
            ],
            "description": "Optional name for the delegation",
            "examples": [
              "my-delegation"
            ]
          }
        }
      },
      "ListDelegationsResponse": {
        "type": "object",
        "required": [
          "delegations"
        ],
        "properties": {
          "delegations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/EcrDelegation"
            }
          }
        }
      },
      "GpuManufacturer": {
        "type": "string",
        "description": "Canonical GPU hardware manufacturer.",
        "x-enum-varnames": [
          "GpuManufacturerNVIDIA",
          "GpuManufacturerAMD",
          "GpuManufacturerUNKNOWN"
        ],
        "enum": [
          "NVIDIA",
          "AMD",
          "UNKNOWN"
        ]
      },
      "GpuType": {
        "type": "object",
        "required": [
          "id",
          "name",
          "pool",
          "manufacturer",
          "memory",
          "secure",
          "community",
          "price",
          "maxCount"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Individual GPU type identifier (use for pod creation)",
            "examples": [
              "NVIDIA GeForce RTX 4090"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "RTX 4090"
            ]
          },
          "pool": {
            "type": [
              "string",
              "null"
            ],
            "description": "Serverless GPU pool ID (use for serverless endpoint creation). Null if GPU is not in a serverless pool.",
            "examples": [
              "ADA_24"
            ]
          },
          "manufacturer": {
            "$ref": "#/components/schemas/GpuManufacturer"
          },
          "memory": {
            "type": "integer",
            "description": "VRAM in GB",
            "examples": [
              24
            ]
          },
          "secure": {
            "type": "boolean",
            "description": "Available on secure cloud",
            "examples": [
              true
            ]
          },
          "community": {
            "type": "boolean",
            "description": "Available on community cloud",
            "examples": [
              true
            ]
          },
          "price": {
            "type": "object",
            "required": [
              "secure",
              "community"
            ],
            "properties": {
              "secure": {
                "type": "number",
                "format": "float",
                "examples": [
                  0.44
                ]
              },
              "community": {
                "type": "number",
                "format": "float",
                "examples": [
                  0.31
                ]
              }
            }
          },
          "maxCount": {
            "type": "object",
            "required": [
              "secure",
              "community"
            ],
            "properties": {
              "secure": {
                "type": "integer",
                "examples": [
                  8
                ]
              },
              "community": {
                "type": "integer",
                "examples": [
                  4
                ]
              }
            }
          },
          "availability": {
            "description": "Overall GPU availability. Present only when requested with include=AVAILABILITY.",
            "$ref": "#/components/schemas/AvailabilityLevel"
          },
          "dataCenters": {
            "type": "array",
            "description": "Per-datacenter GPU availability. Present only when requested with include=AVAILABILITY.",
            "items": {
              "$ref": "#/components/schemas/DataCenterAvailability"
            }
          }
        }
      },
      "AvailabilityLevel": {
        "type": "string",
        "description": "Catalog stock availability level.",
        "enum": [
          "NONE",
          "LOW",
          "MEDIUM",
          "HIGH"
        ]
      },
      "Product": {
        "type": "string",
        "description": "Catalog product availability context.",
        "enum": [
          "POD",
          "CLUSTER",
          "SERVERLESS"
        ]
      },
      "CpuProduct": {
        "type": "string",
        "description": "CPU catalog product availability context.",
        "enum": [
          "POD",
          "SERVERLESS"
        ]
      },
      "CatalogInclude": {
        "type": "string",
        "description": "Catalog include expansion. Only AVAILABILITY is supported today; additional include values may be added in the future.",
        "enum": [
          "AVAILABILITY"
        ]
      },
      "DataCenterInclude": {
        "type": "string",
        "description": "Data center catalog availability expansion.",
        "enum": [
          "GPU_AVAILABILITY",
          "CPU_AVAILABILITY"
        ]
      },
      "GpuCloudFilter": {
        "type": "string",
        "description": "GPU availability cloud filter.",
        "enum": [
          "SECURE",
          "COMMUNITY"
        ]
      },
      "VolumeType": {
        "type": "string",
        "description": "Data center network volume storage type.",
        "enum": [
          "STANDARD",
          "HIGH_PERFORMANCE"
        ]
      },
      "CatalogResourceAvailability": {
        "type": "object",
        "required": [
          "id",
          "name",
          "availability"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Catalog resource identifier.",
            "examples": [
              "NVIDIA GeForce RTX 4090"
            ]
          },
          "name": {
            "type": "string",
            "description": "Human-readable catalog resource name.",
            "examples": [
              "RTX 4090"
            ]
          },
          "availability": {
            "$ref": "#/components/schemas/AvailabilityLevel"
          }
        }
      },
      "DataCenterAvailability": {
        "type": "object",
        "required": [
          "id",
          "name",
          "availability"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "Data center identifier.",
            "examples": [
              "US-CA-2"
            ]
          },
          "name": {
            "type": "string",
            "description": "Human-readable data center name.",
            "examples": [
              "US California 2"
            ]
          },
          "availability": {
            "$ref": "#/components/schemas/AvailabilityLevel"
          }
        }
      },
      "ListGpuTypesResponse": {
        "type": "object",
        "required": [
          "gpus"
        ],
        "properties": {
          "gpus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/GpuType"
            }
          }
        }
      },
      "CpuType": {
        "type": "object",
        "required": [
          "id",
          "name",
          "group",
          "vcpu",
          "ramGbPerVcpu",
          "price"
        ],
        "properties": {
          "id": {
            "type": "string",
            "description": "CPU flavor identifier (use in cpu.id for pod creation)",
            "examples": [
              "cpu5c"
            ]
          },
          "name": {
            "type": "string",
            "description": "Human-readable flavor name",
            "examples": [
              "Compute-Optimized"
            ]
          },
          "group": {
            "type": "string",
            "description": "CPU generation group",
            "examples": [
              "Gen 5"
            ]
          },
          "vcpu": {
            "type": "object",
            "required": [
              "min",
              "max"
            ],
            "properties": {
              "min": {
                "type": "integer",
                "examples": [
                  2
                ]
              },
              "max": {
                "type": "integer",
                "examples": [
                  32
                ]
              }
            }
          },
          "ramGbPerVcpu": {
            "type": "number",
            "format": "float",
            "description": "GB of RAM allocated per vCPU. Multiply by the chosen vCPU\ncount (within `vcpu.min`..`vcpu.max`) to get the total RAM\nfor an instance of this flavor. May be fractional.\n",
            "examples": [
              2.5
            ]
          },
          "price": {
            "type": "object",
            "required": [
              "securePerVcpu",
              "serverlessPerVcpu"
            ],
            "properties": {
              "securePerVcpu": {
                "type": "number",
                "format": "float",
                "description": "Price for secure pods per vCPU. Multiply by the chosen vCPU\ncount (within `vcpu.min`..`vcpu.max`) to get the total price.\n",
                "examples": [
                  0.04
                ]
              },
              "serverlessPerVcpu": {
                "type": "number",
                "format": "float",
                "description": "Price for serverless per vCPU. Multiply by the chosen vCPU\ncount (within `vcpu.min`..`vcpu.max`) to get the total price.\n",
                "examples": [
                  0.03
                ]
              }
            }
          },
          "availability": {
            "description": "Overall CPU availability. Present only when requested with include=AVAILABILITY.",
            "$ref": "#/components/schemas/AvailabilityLevel"
          },
          "dataCenters": {
            "type": "array",
            "description": "Per-datacenter CPU availability. Present only when requested with include=AVAILABILITY.",
            "items": {
              "$ref": "#/components/schemas/DataCenterAvailability"
            }
          }
        }
      },
      "ListCpuTypesResponse": {
        "type": "object",
        "required": [
          "cpus"
        ],
        "properties": {
          "cpus": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CpuType"
            }
          }
        }
      },
      "DataCenter": {
        "type": "object",
        "required": [
          "id",
          "name",
          "region",
          "networkVolumeTypes",
          "compliance",
          "globalNetwork"
        ],
        "properties": {
          "id": {
            "type": "string",
            "examples": [
              "US-TX-3"
            ]
          },
          "name": {
            "type": "string",
            "examples": [
              "US Texas 3"
            ]
          },
          "region": {
            "$ref": "#/components/schemas/DataCenterRegion"
          },
          "globalNetwork": {
            "type": "boolean",
            "description": "Whether this data center supports global networking (private cross-datacenter pod-to-pod network).",
            "examples": [
              true
            ]
          },
          "networkVolumeTypes": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VolumeType"
            },
            "description": "Network volume tiers this DC supports. Empty = none."
          },
          "compliance": {
            "type": "array",
            "description": "Compliance certifications held by this data center",
            "items": {
              "$ref": "#/components/schemas/Compliance"
            },
            "examples": [
              [
                "GDPR",
                "ISO_IEC_27001",
                "SOC_2_TYPE_2"
              ]
            ]
          },
          "gpuAvailability": {
            "type": "array",
            "description": "Per-GPU availability in this data center. Present only when requested with include=GPU_AVAILABILITY.",
            "items": {
              "$ref": "#/components/schemas/CatalogResourceAvailability"
            }
          },
          "cpuAvailability": {
            "type": "array",
            "description": "Per-CPU availability in this data center. Present only when requested with include=CPU_AVAILABILITY.",
            "items": {
              "$ref": "#/components/schemas/CatalogResourceAvailability"
            }
          }
        }
      },
      "DataCenterRegion": {
        "type": "string",
        "description": "Continental region containing the data center.",
        "examples": [
          "EUROPE"
        ],
        "enum": [
          "NORTH_AMERICA",
          "SOUTH_AMERICA",
          "EUROPE",
          "ASIA",
          "MIDDLE_EAST",
          "AFRICA",
          "OCEANIA",
          "ANTARCTICA",
          "UNKNOWN"
        ]
      },
      "Compliance": {
        "type": "string",
        "description": "Compliance certifications.",
        "enum": [
          "GDPR",
          "ISO_IEC_27001",
          "ISO_14001",
          "PCI_DSS",
          "HITRUST",
          "SOC_1_TYPE_2",
          "SOC_2_TYPE_2",
          "SOC_3_TYPE_2",
          "ITAR",
          "FISMA_HIGH",
          "HIPAA",
          "RENEWABLE"
        ]
      },
      "ListDataCentersResponse": {
        "type": "object",
        "required": [
          "dataCenters"
        ],
        "properties": {
          "dataCenters": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DataCenter"
            }
          }
        }
      },
      "BillingTimeRange": {
        "type": "object",
        "description": "Half-open time range [startTime, endTime) in RFC 3339. On a record it is the time bucket; on a query echo it is the resolved window.\n",
        "required": [
          "startTime",
          "endTime"
        ],
        "properties": {
          "startTime": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the range, inclusive (RFC 3339).",
            "examples": [
              "2026-06-01T00:00:00Z"
            ]
          },
          "endTime": {
            "type": "string",
            "format": "date-time",
            "description": "End of the range, exclusive (RFC 3339).",
            "examples": [
              "2026-06-02T00:00:00Z"
            ]
          }
        }
      },
      "BillingBucketSize": {
        "type": "string",
        "enum": [
          "hour",
          "day",
          "week",
          "month",
          "year"
        ],
        "x-enum-varnames": [
          "BillingBucketSizeHour",
          "BillingBucketSizeDay",
          "BillingBucketSizeWeek",
          "BillingBucketSizeMonth",
          "BillingBucketSizeYear"
        ],
        "default": "day",
        "description": "Length of each billing time bucket.",
        "examples": [
          "day"
        ]
      },
      "BillingAmounts": {
        "type": "object",
        "description": "Total spend across all billable Runpod resources with each cost component broken out, fully prefixed by resource. Backs the aggregate record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount",
          "podGpuAmount",
          "podCpuAmount",
          "podDiskAmount",
          "serverlessGpuAmount",
          "serverlessCpuAmount",
          "serverlessDiskAmount",
          "serverlessFeeAmount",
          "storageStandardAmount",
          "storageHighPerformanceAmount",
          "endpointAmount",
          "clusterGpuAmount",
          "clusterDiskAmount",
          "clusterNetworkingAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total cost in USD for the bucket across all resources.",
            "examples": [
              42.34
            ]
          },
          "podGpuAmount": {
            "type": "number",
            "format": "double",
            "description": "GPU pod compute cost in USD for the bucket."
          },
          "podCpuAmount": {
            "type": "number",
            "format": "double",
            "description": "CPU pod compute cost in USD for the bucket."
          },
          "podDiskAmount": {
            "type": "number",
            "format": "double",
            "description": "Pod disk cost in USD for the bucket."
          },
          "serverlessGpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless GPU compute cost in USD for the bucket."
          },
          "serverlessCpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless CPU compute cost in USD for the bucket."
          },
          "serverlessDiskAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless disk cost in USD for the bucket."
          },
          "serverlessFeeAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless platform fee in USD for the bucket."
          },
          "storageStandardAmount": {
            "type": "number",
            "format": "double",
            "description": "Standard network volume storage cost in USD for the bucket."
          },
          "storageHighPerformanceAmount": {
            "type": "number",
            "format": "double",
            "description": "High-performance network volume storage cost in USD for the bucket."
          },
          "endpointAmount": {
            "type": "number",
            "format": "double",
            "description": "Runpod public endpoint cost in USD for the bucket."
          },
          "clusterGpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Instant Cluster GPU compute cost in USD for the bucket."
          },
          "clusterDiskAmount": {
            "type": "number",
            "format": "double",
            "description": "Instant Cluster disk cost in USD for the bucket."
          },
          "clusterNetworkingAmount": {
            "type": "number",
            "format": "double",
            "description": "Instant Cluster inter-node networking cost in USD for the bucket."
          }
        }
      },
      "BillingRecord": {
        "description": "A single time-bucketed record of total spend across all billable Runpod resources, with each cost component broken out. Returned by GET /v2/billing.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/BillingAmounts"
          }
        ]
      },
      "PodBillingAmounts": {
        "type": "object",
        "description": "Pod cost components covering both GPU and CPU pods. Backs a record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount",
          "gpuAmount",
          "cpuAmount",
          "diskAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total pod cost in USD for the bucket.",
            "examples": [
              12.34
            ]
          },
          "gpuAmount": {
            "type": "number",
            "format": "double",
            "description": "GPU pod compute cost in USD for the bucket."
          },
          "cpuAmount": {
            "type": "number",
            "format": "double",
            "description": "CPU pod compute cost in USD for the bucket."
          },
          "diskAmount": {
            "type": "number",
            "format": "double",
            "description": "Pod disk cost in USD for the bucket."
          }
        }
      },
      "PodBillingRecord": {
        "description": "A single time-bucketed pod billing record, covering both GPU and CPU pods. Returned by GET /v2/billing/pods.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/PodBillingAmounts"
          },
          {
            "type": "object",
            "required": [
              "podId"
            ],
            "properties": {
              "podId": {
                "type": "string",
                "description": "The pod this record bills. When the podId filter is set every record carries that id; otherwise one record is emitted per pod per bucket.\n",
                "examples": [
                  "pod_abc123"
                ]
              }
            }
          }
        ]
      },
      "ServerlessBillingAmounts": {
        "type": "object",
        "description": "Serverless cost components. Backs a record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount",
          "gpuAmount",
          "cpuAmount",
          "diskAmount",
          "feeAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total serverless cost in USD for the bucket.",
            "examples": [
              8.9
            ]
          },
          "gpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless GPU compute cost in USD for the bucket."
          },
          "cpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless CPU compute cost in USD for the bucket."
          },
          "diskAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless disk cost in USD for the bucket."
          },
          "feeAmount": {
            "type": "number",
            "format": "double",
            "description": "Serverless platform fee in USD for the bucket."
          }
        }
      },
      "ServerlessBillingRecord": {
        "description": "A single time-bucketed serverless billing record. Returned by GET /v2/billing/serverless.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/ServerlessBillingAmounts"
          },
          {
            "type": "object",
            "required": [
              "serverlessId"
            ],
            "properties": {
              "serverlessId": {
                "type": "string",
                "description": "The serverless endpoint this record bills. When the serverlessId filter is set every record carries that id; otherwise one record is emitted per serverless endpoint per bucket.\n",
                "examples": [
                  "ep_abc123"
                ]
              }
            }
          }
        ]
      },
      "EndpointBillingAmounts": {
        "type": "object",
        "description": "Runpod public endpoint cost. Backs a record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total public endpoint cost in USD for the bucket.",
            "examples": [
              3.21
            ]
          }
        }
      },
      "EndpointBillingRecord": {
        "description": "A single time-bucketed Runpod public endpoint billing record. Returned by GET /v2/billing/endpoints.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/EndpointBillingAmounts"
          }
        ]
      },
      "NetworkVolumeBillingAmounts": {
        "type": "object",
        "description": "Network volume storage cost, split into standard and high-performance. Backs a record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount",
          "standardAmount",
          "highPerformanceAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total network volume cost in USD for the bucket, across standard and high-performance storage.\n",
            "examples": [
              5.79
            ]
          },
          "standardAmount": {
            "type": "number",
            "format": "double",
            "description": "Standard storage cost in USD for the bucket."
          },
          "highPerformanceAmount": {
            "type": "number",
            "format": "double",
            "description": "High-performance storage cost in USD for the bucket."
          }
        }
      },
      "NetworkVolumeBillingRecord": {
        "description": "A single time-bucketed network volume billing record, split into standard and high-performance storage. Returned by GET /v2/billing/networkvolumes.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/NetworkVolumeBillingAmounts"
          },
          {
            "type": "object",
            "required": [
              "networkVolumeId"
            ],
            "properties": {
              "networkVolumeId": {
                "type": "string",
                "description": "The network volume this record bills. When the networkVolumeId filter is set every record carries that id; otherwise one record is emitted per network volume per bucket.\n",
                "examples": [
                  "vol_abc123"
                ]
              }
            }
          }
        ]
      },
      "ClusterBillingAmounts": {
        "type": "object",
        "description": "Instant Cluster cost components (GPU-only, no CPU). Backs a record's amounts and the metadata totals.\n",
        "required": [
          "totalAmount",
          "gpuAmount",
          "diskAmount",
          "networkingAmount"
        ],
        "properties": {
          "totalAmount": {
            "type": "number",
            "format": "double",
            "description": "Total Instant Cluster cost in USD for the bucket.",
            "examples": [
              99
            ]
          },
          "gpuAmount": {
            "type": "number",
            "format": "double",
            "description": "Cluster GPU compute cost in USD for the bucket."
          },
          "diskAmount": {
            "type": "number",
            "format": "double",
            "description": "Cluster disk cost in USD for the bucket."
          },
          "networkingAmount": {
            "type": "number",
            "format": "double",
            "description": "Cluster inter-node networking cost in USD for the bucket."
          }
        }
      },
      "ClusterBillingRecord": {
        "description": "A single time-bucketed Instant Cluster billing record. Clusters are GPU-only (no CPU component). Returned by GET /v2/billing/clusters.\n",
        "allOf": [
          {
            "$ref": "#/components/schemas/BillingTimeRange"
          },
          {
            "$ref": "#/components/schemas/ClusterBillingAmounts"
          },
          {
            "type": "object",
[...]
